@font-face {
  font-family: 'papa';
  src: url(../../assets/fonts/ncpapa.ttf);
}

@font-face {
  font-family: 'kiddu';
  src: url(../../assets/fonts/nckiddu.ttf);
}
@font-face {
  font-family: 'nallur';
  src: url(../../assets/fonts/ncnallur.ttf);
}

.img {
  content: url(../../assets/pictures/moulid/lightbanner.webp);
}


.card{
  background-color: rgb(6, 105, 31);
}



.glass{
background: rgba(240, 238, 238, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(9.1px);
}

/*********************************/


.bg{
  background-size: 100% 100%;
  height: 90vh;


}
.bg ::-webkit-scrollbar {
display: none;
}


.qaseedahome {
  content: url(../../assets/pictures/bg.webp);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.card {
  display: inline;
  width: 44vw;
  margin-left: 3vw;
  margin-right: 3vw;
  float: left;
 position: relative;
  height: 44vw;
  overflow-y: scroll;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;

 }


.menu {
  height: 100%;
}

.btn{
  display:block;
}

.tool {
  width: 100%;
  height: auto;
  //margin-top: 2vh;


  }

  .muham {
    background-image: url(../../assets/pictures/moulid/subhanamoulid.webp);
  }
  .muhi {
    background-image: url(../../assets/pictures/moulid/muhiyidden.webp);
  }
  .shahul {
    background-image: url(../../assets/pictures/moulid/shahemeeran.webp);
  }
  .hasan{
    background-image: url(../../assets/pictures/moulid/hassanhussain.webp);
  }
  .ajmeer {
    background-image: url(../../assets/pictures/moulid/ajmeer.webp);
  }
  .badr{
  background-image: url(../../assets/pictures/moulid/badr.webp);
  }





