<html class="addBody ios-view">

<div class="tool moutool">
  <img class="img" alt="">
</div>
<ion-content  id="main-content">
    <div class="bg">
      <div class="bg-image"></div>
      <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
      opacity: 0.7;">
        <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
       </div>

       <div class="content-container">
        <div (click)="viewMoulidh('muham')"  class="content">
          <h4>சுப்ஹான மௌலித்</h4>
        </div>
        <div (click)="viewMoulidh('muhi')" class="content">
          <h4>முஹ்யித்தீன் மௌலித்</h4>
        </div>
        <div (click)="viewMoulidh('shahul')"  class="content">
          <h4>ஷாஹே மீரான் மௌலித்</h4>
        </div>
        <div (click)="viewMoulidh('hasan')" class="content">
          <h4>ஹஸன்-ஹுஸைன் மௌலித்</h4>
        </div>
        <div (click)="viewMoulidh('badr')" class="content">
          <h4>பத்ர் மௌலித்</h4>
        </div>
        <div (click)="viewMoulidh('ajmeer')" class="content">
          <h4>அஜ்மீர் நாயகம் மௌலித்</h4>
        </div>
      </div>
    </div>

    <div class="spec-button">
      <ion-icon name="earth-outline"></ion-icon>
    </div>

    


</ion-content>


</html>
