@font-face {
  font-family: 'papa';
  src: url(../../assets/fonts/ncpapa.ttf);
}

@font-face {
  font-family: 'kiddu';
  src: url(../../assets/fonts/nckiddu.ttf);
}
@font-face {
  font-family: 'nallur';
  src: url(../../assets/fonts/ncnallur.ttf);
}

.img {
  content: url(../../assets/pictures/moulid/lightbanner.webp);
}



/*********************************/


.bg{
  background-size: 100vh auto;
  height: 90vh;
 // background: #b9ebc8c4;
  background-attachment: fixed;
  background-image: url('../../assets/pictures/bg.webp');
  background-position: center;
  //content: url('../../assets/pictures/bg.webp');


}
.bg ::-webkit-scrollbar {
display: none;
}




.card {
  display: inline;
  width: 38vw;
  margin-left: 3vw;
  margin-right: 3vw;
  float: left;
 position: relative;
  height: 38vw;
  overflow-y: scroll;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius:5%;
  padding: 5px;


 }


.menu {
  height: 100%;
}

.btn{
  display:block;
}

.tool {
  width: 100%;
  height: auto;
  //margin-top: 2vh;


  }

  .muham {
    background-image: url(../../assets/pictures/moulid/subhanamoulid.webp);
    background-color: rgba(110, 228, 149, 0.315);
  }
  .muhi {
    background-image: url(../../assets/pictures/moulid/muhiyidden.webp);
    background-color: rgba(228, 110, 110, 0.315);
  }

  .shahul {
    background-image: url(../../assets/pictures/moulid/shahemeeran.webp);
    background-color: rgba(112, 110, 228, 0.315);
  }
  .hasan{
    background-image: url(../../assets/pictures/moulid/hassanhussain.webp);
    background-color: rgba(228, 110, 189, 0.315);
  }
  .ajmeer {
    background-image: url(../../assets/pictures/moulid/ajmeer.webp);
    background-color: rgba(110, 228, 222, 0.315);
  }
  .badr{
  background-image: url(../../assets/pictures/moulid/badr.webp);
  background-color: rgba(228, 220, 110, 0.315);
  }

  ion-grid{
    height: 90vh;
    overflow-y: scroll;
  }

  #main-content::-webkit-scrollbar {
    display: none !important;
  }

  ion-col{
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    animation: zoomEnter 0.6s ease-out;
  }

  @keyframes zoomEnter {
    0% {
      transform: scale(0.2);
    }
    90% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }





