@font-face {
  font-family: arabic;
  src: url('./../../assets/fonts/Arabic/Aileron-Bold.otf');
  //src: url('./../../assets/fonts/arabic.ttf');
}

@font-face {
  font-family: 'cnb';
  src: url(../../assets/fonts/TMOTCNB_Ship.TTF);
}

// @media (prefers-color-scheme: dark){
//     .home {
//         color: #ffffff;
//     }

//     // .img {
//     //     content: url(../../assets/pictures/dua/duadarkbanner.jpg);
//     // }
//     .edit{
//       border: 1px solid rgb(238, 232, 232);
//       color: #ffffff;
//       background-color: #3477ce;
//     }
//     .del{
//       color: rgb(255, 255, 255);
//       border: 1px solid rgb(238, 232, 232);
//       background-color: #c74d07;
//     }
//     .head{
//       background-color: #b5b6b07a;
//       color: #e9e6e6;
//       box-shadow: 0 0 6px 0 #ffffff;
//   }

//   .search{
//     background-color: rgb(243, 237, 237);
//     color: black;
//   }
//   .search ion-icon{
//       color: rgb(15, 15, 15);
//   }
//   .lstcont {
//     /* From https://css.glass */
//    background: rgba(0, 0, 0, 0.39);
//    border-radius: 16px;
//    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//    backdrop-filter: blur(5px);
//    -webkit-backdrop-filter: blur(14px);
//  }

// }
// @media (prefers-color-scheme: light){

// }

.img {
  content: url(../../assets/pictures/dua/dualightbanner.webp);;
}

.home {
  color: #fdc103;
}


.del{
color: #c74d07 !important;
border: 1px solid #c74d07 !important;
background-color: white !important;
}
.edit{
border: 1px solid #3477ce;
color: #3477ce;
background-color: white !important ;
}
.head{
background-color: #eff7cbb9;
color: #141414;

box-shadow: 0 0 6px 0 #cfcfcf;
}

.search{
background-color: rgb(189, 189, 189);
color: black;
}
.search ion-icon{
color: rgb(15, 15, 15);
}
.lstcont {
/* From https://css.glass */
background: rgba(185, 181, 181, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(14px);
}

/*******************************************/

.lst{
  padding-top: 0.4vh;
  height: 100%;
  width: 100%;
  position:fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:100% 100%;

}

.lstcont{

  height: 100%;
   max-height: auto;
  overflow-y: scroll;

}

.head{
  position: fixed;
  display: flex;
  top:1%;
  z-index: 2;
  width: 98%;
  height:4vh;
  border-radius: 4px;
  text-align: center;
  justify-items:center;
  align-items: center;

}
.head ion-icon{
  margin: 0 2vw;
}
.head ion-text{
  font-size: 15px;
  font-weight: 1000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cont{
  margin-top: 5vh !important;
  height: 72vh;
  width: 98%;
  overflow-y: scroll;
  border-radius:5%;
  padding-left: 1%;
    padding-right:1%;

}
.cont ion-item ion-label {
  padding-left: 2%;
  font-size: 12px;
}
.edit {
  border-radius: 78px !important;
  float: left;
  width: 7vw;
  height: 7vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.del {

  margin-left: 4vw;
}
.icon {
  // color:white;
  font-size: 3vw;
}

.bar {
  width: 100%;
 margin-top: 1%;

  z-index: 3;
  position: fixed;
  padding-bottom: 2%;
  float: left;

}
.search {
  width: 95%;
  border-radius: 16px;
  margin-left: 2%;
  float: left;
  padding-left: 1%;

  position:fixed;
  margin-bottom: 4%;
  margin-top: 2%;


}

.search ion-icon{
  margin-left: 5%;
  font-size: 20px;
}

.close{
  margin-top: 2.4vh;
  float: right;
  font-size: 25px;
  margin-right: 5%;
  position: relative;
  z-index: 5;
  width:30px;
  color: black

}

.cont::-webkit-scrollbar{
  display: none;
}
.tool {
  width: 100%;
  height: auto;
  //margin-top: 2vh;
}

.detail {
  font-size: 15px;
  width: 100%;
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: arabic;
  text-align: justify;
}

ion-label {
  font-weight: 510;
}

.modalBody{
  background-color: #ffffff;
}

.qursi
{
  //height: 95vh;
  overflow-y: scroll;
  margin-top: 5vh !important;
  background-color: rgba(245, 245, 220, 0);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

}

.box{
  display: inline;
  width: 46vw;
  height: 46vw;
  margin: 1vw;
  border: #141414;
  background-color: #e0e0e096;
  border-radius: 10px;

  align-items: center;

//   /* From https://css.glass */
// background: rgba(185, 182, 182, 0.822);
// border-radius: 16px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(13.7px);
// -webkit-backdrop-filter: blur(13.7px);
// border: 1px solid rgba(185, 182, 182, 0.3);

  ion-card-title{
    font-size: 8vw;
    font-weight: 750;
    color:black;
  }

  h5{
    font-size: 3vw !important;
    color: #707070;
  }

  h6{
    font-size: 12px;
    color: #555555;
    font-family: 'cnb';
    padding: 0px 1px;
  }


}

.box:nth-child(85){
  ion-card-title{
    font-size: 5vw;
    font-weight: 750;
    color:black;
  }
}
