
<div class="tool">
  <img class="img" alt="">
</div>
<ion-content >
  <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
  opacity: 0.7;">
    <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
   </div>

  <ion-list class="lst">
    <div class="lstcont">

      <swiper [effect]="'coverflow'" [speed]="400" (swiper)="setSwiperInstance($event)">

        <ng-template swiperSlide>

          <div class="head">
            <ion-text>Contents</ion-text>
          </div>

            <div *ngIf="anyContent" class="cont">
              <!--For div-->
              <div *ngFor="let d of datas">
                <ion-item class="itm">
                  <ion-label (click)="promo(d)" style="width: 80%">Popup for {{d.date | date:'dd/MM/yyyy'}}</ion-label>


                  <div (click)="deleteAlert(d)" class="edit del">
                    <ion-icon class="icon" name="trash"></ion-icon>
                  </div>
                </ion-item>

              </div>



            </div>

            <div *ngIf="!anyContent" class="cont">
              <!--For div-->

                <!-- <ion-item class="itm">
                  <ion-label  >d.title</ion-label>
                </ion-item> -->
                <div style="width: 100%; height: 70%; position: fixed; display: flex; justify-content: space-around;align-items: center;" *ngIf = "true" >

                  <ion-chip style="width:95%;height: auto; background-color: rgba(107, 106, 106, 0.048);">
                    <ion-label style="margin: 0 auto;"><ion-icon name="search-outline"></ion-icon>&nbsp; Contents not found</ion-label>
                  </ion-chip>

              </div>

            </div>

        </ng-template>
        <ng-template *ngIf="true"  swiperSlide>

          <div class="head">
            <ion-text>Add Popup Content</ion-text>
          </div>
            <div class="cont">
              <form #addForm = "ngForm" validate>
                <ion-list style = "background-color: white" lines="inset">

                  <div  *ngFor="let al of alert.imageUrl">
                    <img src="{{al}}" width="100%" alt="">
                  </div>
                  <ion-item>
                    <div *ngIf="perc">
                      <ion-progress-bar [value] = "perc"></ion-progress-bar>
                    </div>


                    <ion-button style="display: flex; width: 100%;" color="primary" size="medium">
                      <input #fileInput type="file" multiple="true" accept="image/*" (change)="openActionSheet($event)"/><ion-button style="float: right;" (click)="clearFile()" fill="light" *ngIf="closeButton"><ion-icon   name="close-outline"></ion-icon></ion-button>
                    </ion-button>
                  </ion-item>

                  <ion-item >
                    <ion-label position="floating">For Date</ion-label>
                    <ion-input style = "color: black" type="date" name="date" [(ngModel)]="alert.date" required></ion-input>
                  </ion-item>

                </ion-list>
                <ion-button (click)="onSubmit(addForm);" [disabled]="addForm.invalid || fileSelected" color="warning" style="display: flex;">
                  <ion-icon  name="save-outline"></ion-icon>&nbsp;&nbsp; Add Alert
                </ion-button>

              </form>
            </div>
        </ng-template>
      </swiper>
    </div>
  </ion-list>

  <ion-modal  backdropDismiss="false" mode="md" [isOpen]="isModalOpen">
    <ng-template>

        <ion-toolbar color="success">
          <ion-title style="font-size:14px"> For {{viewAlert.date | date: 'dd/MM/yyyy'}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setViewModel(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>

      <ion-content class="modalBody">
        <div *ngFor="let data of viewAlert.imageUrl">
        <ion-card  style="white-space: pre-line; height: 98%; max-height: 98%; position: relative; padding-top: 10px; background-color: white">
          <img alt="Silhouette of mountains" src="{{data}}" />

        </ion-card>
      </div>
      </ion-content>
    </ng-template>
  </ion-modal>


  <!-- Edit Model -->
  <!-- <ion-modal backdropDismiss="false" [isOpen]="isEditOpen">
    <ng-template>


        <ion-toolbar color="warning">
          <ion-title style="font-size:14px">Update Details</ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="setEditModel(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>

      <ion-content class="ion-padding modalBody">
        <form  #addForm = "ngForm" validate>
          <ion-list style = "background-color: white" lines="inset">

            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-textarea [(ngModel)]="editAlert.title" name="mtitle" [autoGrow]="true" style="max-height: 300px; overflow-y: scroll;" required></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Main Content</ion-label>
              <ion-textarea [(ngModel)]="editAlert.mcontent" name="mcontent" [autoGrow]="true" style="max-height: 300px; overflow-y: scroll;" required></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Sub Content</ion-label>
              <ion-textarea [(ngModel)]="editAlert.scontent" name="scontent" [autoGrow]="true" style="max-height: 300px; overflow-y: scroll;"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">For Date</ion-label>
              <ion-input type="date" name="date" [(ngModel)]="editAlert.date" required></ion-input>
            </ion-item>

          </ion-list>

          <div class="cont">
            <ion-button (click)="update()"  color="warning" style = "display: flex;"type="submit" [disabled]="addForm.invalid "  class = "btn">Update</ion-button>
          </div>
         </form>
      </ion-content>

    </ng-template>
  </ion-modal> -->


</ion-content>
