<html class="addBody">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
      <ion-title>Add Hazeetha </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
  opacity: 0.7;">
    <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
   </div>

<ion-card style="overflow-y: scroll; max-height: 80%;">
  <ion-card-header>
   <form  #addForm = "ngForm" validate>
    <ion-item lines="full">
      <ion-label position="floating">தலைப்பு</ion-label>
      <ion-input  [(ngModel)]="song.title" name="title" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">கவி வரிகள்</ion-label>
      <ion-textarea style="max-height: 300px; overflow-y: scroll;" [(ngModel)]="song.content" [autoGrow]="true" name="content"required></ion-textarea>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">தொகுப்பு/ஆக்கம்</ion-label>
      <ion-input [(ngModel)]="song.author" type="text" name="author"></ion-input>
    </ion-item>


      <ion-item id="optionmodal">
        <ion-label >Select Type</ion-label>
        <p style="font-size: 15px; text-align: center;">{{type}}</p>
      </ion-item>

      <ion-item *ngIf="type === 'other'" lines="full">
        <ion-label position="floating">இறைநேசரின் பெயர்</ion-label>
        <ion-input [(ngModel)]="song.vali" type="text" name="vali" required></ion-input>
      </ion-item>

    <div class="cont">
      <ion-button type="submit" [disabled]="addForm.invalid || typeSelected" style="display: flex;" (click)="submit(addForm)" class = "btn">Add</ion-button>
    </div>
   </form>
  </ion-card-header>
</ion-card>
</ion-content>

<ion-modal #modal trigger="optionmodal" [initialBreakpoint]="0.25" [breakpoints]="[0,0.40,.50]" class="addmodal" backdropDismiss="false" >
  <ng-template>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding modalBody ">
      <ion-list>
        <ion-item style="font-size:15px; text-align: center; margin-bottom: 10px;" (click)="setTypeVal('prophet')">முஹம்மது ஸல்லல்லாஹு அலைஹி வஸல்லம்</ion-item>
        <ion-item style="font-size:15px; text-align: center; margin-bottom: 10px;"(click)="setTypeVal('muhi')">முஹியித்தீன் அப்துல் காதிர் ஜீலானி கத்தஸல்லாஹுஸ்ஸிர்ரஹுல் அஸீஸ்</ion-item>
        <ion-item style="font-size:15px; text-align: center; margin-bottom: 10px;" (click)="setTypeVal('shahul')">ஷாஹுல் ஹமீது நாயகம் கத்தஸல்லாஹுஸ்ஸிர்ரஹுல் அஸீஸ்</ion-item>
        <ion-item style="font-size:15px; text-align: center; margin-bottom: 10px;" (click)="setTypeVal('ajmeer')">ஹாஜா நாயகம் கத்தஸல்லாஹுஸ்ஸிர்ரஹுல் அஸீஸ்</ion-item>
        <ion-item style="font-size:15px; text-align: center; margin-bottom: 10px;" (click)="setTypeVal('other')">Others</ion-item>
      </ion-list>

    </ion-content>
  </ng-template>
</ion-modal>
</html>
