@font-face {
  font-family: gunn;
  src: url(../assets/fonts/TAU_GUNN.TTF);
}
@font-face {
  font-family: ship;
  src: url(../assets/fonts/TMOTPTB_Ship.TTF);
}



ion-menu::part(container){
    border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px #81708169;
}

// @media (prefers-color-scheme: dark){
//     ion-menu::part(container){
//         border-radius: 0 20px 20px 0;
//       box-shadow: 4px 0px 16px rgba(129, 112, 129, 0.411);
//       background-color: rgb(32, 32, 32);
//     }
// }
// @media (prefers-color-scheme: light){

// }

ion-menu::part(container){
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.589);
  background-color: rgb(253, 253, 253);
}



.addmodal{
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}
.card{
  height: 100%;
  width: 100%;
  background-color:transparent;
  margin-left: 0% !important;
  max-height: 100%;
  overflow-y: scroll;

  
}
.card1{
  height: 100%;
  width: 100%;
  background-color:white;
  margin-left: 0% !important;
  max-height: 100%;
  overflow-y: hidden;
  border-radius: 25px;

}
.card::-webkit-scrollbar {
  display: none;
}

.alt1{
  top: 7%;
}
.alt{
  padding-top: 10px !important;
  height: 82%;
  overflow: scroll;
  text-align: justify;
  text-justify: inter-word;
  color: black;
   width: 100%;
    overflow-x: scroll;


}
.alt::before{

  content: "";
  background-image: url(../assets/pictures/bg.webp);

position: fixed;
background-size: cover;
background-position: center;
height: 100%;
width: 100%;
min-height: var(--original-viewport-height);
left: 0;
top: 0;
will-change: transform;
z-index: -1;
opacity: 0.15;
}
.alt h5{
  font-size: 10px;
}
.alt1::-webkit-scrollbar {
  display: none;
}
.alt::-webkit-scrollbar {
  display: none;
}

.closebtn1{
  --background: transparent;
  bottom: 76%;
  height: 13%;
  position: fixed;
  border: 1px solid transparent;
  z-index: 10;
  right: 0.5%;


}
.closebtn{
  --background: transparent;
  bottom: 86%;
  height: 13%;
  position: fixed;
  border: 1px solid transparent;
  z-index: 10;
  right: 0.5%;


}
.closeicon1{
  font-size: 40px;
   color: rgb(8, 8, 8);
  background-color: rgb(251, 255, 251);
  border-radius: 50%;
  z-index: 10;

}
.img {
  width: 100%;
  height: 100%;

  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5%;
  margin-left: 0% !important;
  margin-right:0% !important;

  max-height: 100%;
  overflow-y: scroll;

  position: relative;
  text-align: center;
  color: white;

}

.content{
  justify-content: space-around;
  align-items:center;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 90%;
  max-height: 68%;
  overflow-y: scroll;


}
.content::-webkit-scrollbar {
  display: none;
}

.content h5{
  font-family: gunn;
  font-size: 18px;
  font-weight: 100;
  color: rgba(68, 68, 68, 0.801);

}
.content h5::-webkit-scrollbar {
  display: none
}


.alert{
  content: url(../assets/pictures/alert.webp);

}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  font-weight: 600;
}

.bigTitle{
  justify-content: space-around;
  align-items:center;
  position: absolute;
  top: 18vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 90vh;
  //max-height: 68%;
  //overflow-y: scroll;



}

.bigTitle h5{
  font-size: 6vw;
  font-family: 'ship';
}

.logModel{
  background-color: rgba(194, 25, 25, 0);

  --height: 60vh;
  --width: 90vw;
}
  .logBody{
      justify-items: center;
      align-items: center;
      display:grid;
      padding: 10px 0;

      img{
        width: 35;
        height: 35vw;
      }

      h5{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 750;
        color: rgb(18 96 8);
      }
}

.footer{
  /* From https://css.glass */
background: rgba(54, 4, 4, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
}


