<ion-app >
  <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
  opacity: 0.7;">
    <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
   </div>
    <ion-modal class="addmodal" backdropDismiss="false" [isOpen]="isModalOpen">
    <ng-template>

      <ion-content>
      </ion-content>
        <ion-card style=" border-radius: 4vw;" class="card" >
          <ion-card-header style="display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column;">
            <img alt="" style="border-radius: 4vw;" src="{{content}}" />
            <ion-card-title style="display: flex; justify-content: end;">
              <ion-button (click)="openModal(false)" fill="outline" color="dark">
                <ion-icon name="close-sharp"></ion-icon>
                Close</ion-button>
            </ion-card-title>
          </ion-card-header>

          <!-- <ion-card-content class="alt1">

            <div  class="img">
              <ion-button fill="clear" class="closebtn1" (click)="openModal(false)">
                <ion-icon class="closeicon1"   name="close-circle-sharp"></ion-icon>
              </ion-button>

            </div>
          </ion-card-content> -->
        </ion-card>
      </ng-template>

  </ion-modal>

  <ion-modal  backdropDismiss="false" [isOpen]="isTopicOpen">
    <ng-template>
        <ion-card class="card1" >
          <ion-card-header style="height: 12%; color: rgb(255, 255, 255); background-color: rgb(185, 151, 106);display: flex;align-items: center; ">
            <h3><b>Ahlussunnah Tamil</b></h3>
            <ion-button fill="clear" class="closebtn" (click)="openTitle(false)">
              <ion-icon class="closeicon1"   name="close-circle-sharp"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content class="alt">

            <ion-item (click)="closeMenu()" [routerLink] = "['/moulids']">
              <ion-icon style=" float: left; color: rgb(29, 61, 10);" name="heart-half-sharp"></ion-icon><ion-label style=" float: left; color: rgb(29, 61, 10)" >&nbsp;&nbsp;மௌலிதுகள்</ion-label>
            </ion-item>
            <ion-item (click)="closeMenu()" [routerLink] = "['/home']">
              <ion-icon style=" float: left; color: rgb(29, 61, 10);" name="musical-notes-sharp"></ion-icon><ion-label style=" float: left;color: rgb(29, 61, 10)" >&nbsp;&nbsp;தமிழ் கஸீதா தளம்</ion-label>
            </ion-item>
            <ion-item (click)="closeMenu()" [routerLink] = "['/ziyarams']">
              <ion-icon style=" float: left; color:rgb(29, 61, 10);" name="location-sharp"></ion-icon><ion-label style=" float: left;color: rgb(29, 61, 10)">&nbsp;&nbsp;ஸியாரங்கள்</ion-label>
            </ion-item>
            <ion-item (click)="closeMenu()" [routerLink] = "['/qand-a']">
              <ion-icon style=" float: left; color:rgb(29, 61, 10);" name="help-circle-sharp"></ion-icon><ion-label style=" float: left;color: rgb(29, 61, 10)">&nbsp;&nbsp;கேள்வி - பதில் பக்கம்</ion-label>
            </ion-item>
            <ion-item (click)="closeMenu()" [routerLink] = "['/evidence']">
              <ion-icon style=" float: left; color: rgb(29, 61, 10);" name="bulb-sharp"></ion-icon><ion-label style=" float: left;color: rgb(29, 61, 10)">&nbsp;&nbsp;மார்க்க விளக்கங்கள்</ion-label>
            </ion-item>
           <ion-item (click)="closeMenu()" [routerLink] = "['/calendar']">
              <ion-icon style=" float: left; color: rgb(29, 61, 10);" name="calendar-sharp"></ion-icon><ion-label style=" float: left;color: rgb(29, 61, 10)">&nbsp;&nbsp;விஷேட தினங்கள்</ion-label>
          </ion-item>
          <ion-item (click)="closeMenu()" [routerLink] = "['/dua']">
            <ion-icon style=" float: left; color: rgb(29, 61, 10);" name="book-sharp"></ion-icon><ion-label style=" float: left;color: rgb(29, 61, 10)">&nbsp;&nbsp;அன்றாட துஆக்கள்</ion-label>
        </ion-item>

            <ion-item *ngIf="obj" (click)="closeMenu()" [routerLink] = "['/add']">
              <ion-icon style=" float: left; color: rgb(51, 59, 77);" name="add-circle-sharp"></ion-icon><ion-label style=" float: left; color: rgb(51, 59, 77);">&nbsp;&nbsp;Add Hazeetha</ion-label>
            </ion-item>
            <ion-item *ngIf="obj" (click)="closeMenu()" [routerLink] = "['/add-ziyaram']">
              <ion-icon style=" float: left; color:  rgb(51, 59, 77);" name="add-circle-sharp"></ion-icon><ion-label style=" float: left; color: rgb(51, 59, 77)">&nbsp;&nbsp;Add Ziyaram Details</ion-label>
            </ion-item>
            <ion-item *ngIf="obj" (click)="closeMenu()" [routerLink] = "['/floating-text']">
              <ion-icon style=" float: left; color:  rgb(51, 59, 77);" name="add-circle-sharp"></ion-icon><ion-label style=" float: left; color: rgb(51, 59, 77)">&nbsp;&nbsp;Add Floating Text</ion-label>
            </ion-item>
            <ion-item *ngIf="obj" (click)="closeMenu()" [routerLink] = "['/add-evidence']">
              <ion-icon style=" float: left; color:  rgb(51, 59, 77);" name="add-circle-sharp"></ion-icon><ion-label style=" float: left; color: rgb(51, 59, 77)">&nbsp;&nbsp;Add Religious Topic</ion-label>
            </ion-item>
            <ion-item *ngIf="obj" (click)="closeMenu()" [routerLink] = "['/add-calendar']">
              <ion-icon style=" float: left; color:  rgb(51, 59, 77);" name="add-circle-sharp"></ion-icon><ion-label style=" float: left; color: rgb(51, 59, 77)">&nbsp;&nbsp;Add Calendar Event</ion-label>
            </ion-item>
            <ion-item *ngIf="obj" (click)="closeMenu()" [routerLink] = "['/add-dua']">
              <ion-icon style=" float: left; color:  rgb(51, 59, 77);" name="add-circle-sharp"></ion-icon><ion-label style=" float: left; color: rgb(51, 59, 77)">&nbsp;&nbsp;Add Dua & Salawat</ion-label>
            </ion-item>
            <ion-item *ngIf="obj" (click)="closeMenu()" [routerLink] = "['/wallalert']">
              <ion-icon style=" float: left; color: rgb(51, 59, 77);" name="add-circle-sharp"></ion-icon><ion-label style=" float: left; color: rgb(51, 59, 77)">&nbsp;&nbsp;Manage Popup Images</ion-label>
            </ion-item>

            <ion-button (click) = "Logout()" *ngIf="obj" style="display: flex; ">Logout</ion-button>

          </ion-card-content>

        </ion-card>
      </ng-template>

  </ion-modal>


  <ion-modal class="logModel" backdropDismiss="false" [isOpen]="isLoginOpen">
    <ng-template >
      <ion-content>
        <div (click)="openLogin()" style="padding: 10px; display: flex; position: fixed;" >
          <ion-icon style="font-size: 32px; color: black" name="close"></ion-icon>
        </div>

        <div class="logBody">
          <img src="../assets/pictures/logo.webp" alt="">
          <h5>Ahlussunnah Tamil </h5>
          <form  #logForm = "ngForm" validate>
            <ion-item lines="full">
              <ion-label style="color: rgb(56, 55, 55);" position="floating">Email</ion-label>
              <ion-input  style="color: rgb(88, 88, 88);"  [(ngModel)]="login.email" name="email" type="email" required ></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label style="color: rgb(56, 55, 55);" position="floating">Password</ion-label>
              <ion-input style="color: rgb(88, 88, 88);"  [(ngModel)]="login.password" type="password" name="password" required></ion-input>
            </ion-item>
            <ion-button  style="margin-top:12%;display: flex;" type="submit" [disabled]="logForm.invalid" (click)="LoginAdmin()" class = "btn">Login</ion-button>

           </form>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal  backdropDismiss="false" [isOpen]="isAboutOpen" >
    <ng-template>
        <ion-card class="card1" >
          <ion-card-header style="height: 12%; color: rgb(255, 255, 255); background-color: rgb(145, 82, 0); display: flex;align-items: center;">
            <h3><b>About Us</b></h3>
            <ion-button fill="clear" class="closebtn" (click)="openAboutUs(false)">
              <ion-icon class="closeicon1"   name="close-circle-sharp"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content class="alt">

              <h5 style=" text-align: justify;">
                பிஸ்மில்லாஹிர்ரஹ்மானிர்ரஹீம்.<br><br>

                அல் மதத் யா ரஸூலல்லாஹ்!<br>
                அல் மதத் யா பத்ரியீன்!<br>
                அல் மதத் யா முஹ்யித்தீன்!<br>
                அல் மதத் யா ஷாஹே மீரான்!<br><br>

                அஸ்ஸலாமு அலைக்கும் வரஹ்மதுல்லாஹி வபரகாதுஹூ!<br><br>

                அல்குர்ஆன், அல்-ஹதீஸ், இஜ்மாஉ, கியாஸ் ஆகிய மார்க்க மூலாதாரங்களின் அடிப்படையில் கட்டியெழுப்பப்பட்டுள்ள அஹ்லுஸ்ஸுன்னாஹ் வல் ஜமாஅத் அகீதாவின் பக்கம் மக்களை அழைப்பதும் அதன் பிரகாரம் அமல் செய்வதற்கு மக்களை ஆர்வமூட்டுவதும் இலங்கையிலுள்ள இஸ்லாமிய நினைவிடங்கள் தொடர்பில் தகவல்களை திரட்டி மக்களை அறிவூட்டுவதும் நமது கலாச்சார பாரம்பரியங்களை அழிந்துவிடாமல் பாதுகாப்பதுமே நாம் <b>“அஹ்லுஸ் ஸுன்னாஹ் தமிழ்”</b> எனும் இச்செயலியை உருவாக்கியிருப்பதன் பிரதான நோக்கமாகும்.<br><br>

                இதை எம்மிடம் உள்ள தகவல்களைக் கொண்டு ஆரம்பித்திருக்கின்றோம், அல்ஹம்துலில்லாஹ்.

                இதில் பிரதானமாக,<br><br>

                1.அஹ்லுஸ்ஸூன்னாஹ் தமிழ் இணைய வானொலி<br>
                2.இலங்கையில் உள்ள புனித வலிமார்களின் ஸியாரங்களின் தகவல்கள் (அமைவிடம், அறிமுகம், புகைப்படம்)<br>
                3.கொள்கை விளக்க ஆதாரங்கள்<br>
                4.மௌலிதுகள்<br>
                5.இஸ்லாமிய துஆக்கள் மற்றும் ஸலவாத்துக்கள்<br>
                6.இஸ்லாமிய விஷேட தினங்கள்<br>
                7.இஸ்லாமிய கேள்வி - பதில் போட்டி<br>
                8.நன்மக்களால் எழுதப்பட்ட / தொகுக்கப்பட்ட தமிழ் ஹஸீதாக்கள் (எழுத்து வடிவில்)<br><br>

                போன்ற தகவல்கள் உள்வாங்கப்பட்டுள்ளது.<br><br>

                ஸியாரம் தொடர்பான தகவல்களை தாங்களே இந்த App மூலம் எமக்கு அனுப்ப முடியும். மேலும், எமது இந்த திட்டத்திற்கு பொருத்தமான தகவல்கள் உங்களிடம் இருக்கும் பட்சத்தில் எமக்கு நீங்கள் மின்னஞ்சல் மூலமாக அல்லது வட்ஸப் மூலமாக அனுப்பி வைக்கலாம்.<br><br>

                அத்துடன் இந்த App இனுடைய பின்னூட்டல்கள், குறை-நிறைகளையும் எம்முடன் நீங்கள் பகிர்ந்து கொள்ள எதிர்பார்க்கின்றோம்.<br><br>

                வஸ்ஸலாம்.<br>
               <b> அஹ்லுஸ் ஸுன்னாஹ் தமிழ்<br>
                KASJ மீடியா<br>
                0094-767774020<br>
                kasjmedia&#64;gmail.com<br></b>
              </h5>

              <div class="copyright" style="justify-content: space-around; display: grid;text-align: center; ">
                <p style="color: rgb(94, 94, 94) !important;">Designed by : KASJ Media</p>
                <p style="color: rgb(94, 94, 94) !important;">Developed by : <a href="https://www.facebook.com/share/1XdJv2LULN/?mibextid=LQQJ4d">Muhammadh Afrid</a></p>
                <a *ngIf = "isAndroid" href="https://umafd.blogspot.com/2023/09/privacy-policy-for-ahlussunnah-tamil.html">Privacy Policy</a>
                <a *ngIf = "!isAndroid" href="https://umafd.blogspot.com/2023/09/privacy-policy-for-ahlussunnah-tamil.html">Privacy Policy</a>
              </div>

          </ion-card-content>
          <ion-row>
            <ion-col style="text-align: center; color: black; font-size: 10px; font-weight: 800; background-color: rgb(209, 165, 129);">
                <p >

                  Ahlussunnah Tamil © 2025
                </p>

            </ion-col>
        </ion-row>
        </ion-card>
      </ng-template>
  </ion-modal>

    <ion-router-outlet></ion-router-outlet>


<footer >
  <ion-tabs class = "footer">
    <ion-tab-bar slot="bottom" #tabBar>

      <ion-tab-button  [routerLink]="['/']"  >
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>

      <ion-tab-button (click)="openTitle(true)" >
        <ion-icon name="library"></ion-icon>
        Topics
      </ion-tab-button>

      <ion-tab-button (click)="openLogin()" >
        <ion-icon name="person-circle-outline"></ion-icon>
        Admin
      </ion-tab-button>

      <ion-tab-button (click)="openAboutUs(true)" >
        <ion-icon name="grid"></ion-icon>
        About Us
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</footer>


</ion-app>
