<html class="addBody">
  <div class="tool">
    <img class="img" alt="">
  </div>


<ion-content [scrollEvents]="true" >
  <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
  opacity: 0.7;">
    <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
   </div>
    <!-- <div class="bar primary">
      <ion-input style="font-style: italic; font-size: 3vw;" class="search" [(ngModel)]="searchKey" (ionChange)="handleSearch()" placeholder="Search by Name, Province, Distrinct and Town/Village"><ion-icon  name="search"></ion-icon></ion-input>

      <div class="close">
        <ion-icon [style.visibility]="vis" (click)="clearSearch()" name="close"></ion-icon>
      </div>

    </div> -->


    <ion-list class="lst">
      <div class="lstcont">

        <swiper class="swipe" [effect]="'coverflow'">
          <ng-template  swiperSlide>

            <div *ngIf="anyUserContent" class="cont">
              <ion-grid>
                <ion-row class = "row2">
                  <ion-col *ngFor="let data of UserData" size="6">
                    <ion-card class="ic">
                      <img alt="Silhouette of mountains" src="{{data.imageUrl}}" />
                      <ion-card-header class="ichead" >
                        <ion-card-title class="ictitle">Quiz {{data.number}}</ion-card-title>
                        <ion-card-subtitle class="icstitle">Status : &nbsp;<ion-icon name="ellipse-sharp"></ion-icon>&nbsp; {{data.status}}</ion-card-subtitle>
                      </ion-card-header>

                      <ion-card-content class="iccontent">
                        <h5>Start Date: {{data.startDate | date: 'dd/MM/yyyy'}}</h5>
                        <h5>End Date: {{data.endDate | date: 'dd/MM/yyyy'}}</h5>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </div>

            <div *ngIf="!anyUserContent" class="cont">
              <ion-chip style="width:95%;  top: 38%;">
                <ion-label style="margin: 0 auto;" >விபரங்கள் விரைவில் இணைக்கப்படும்</ion-label>
              </ion-chip>
            </div>


          </ng-template>

          <ng-template *ngIf="obj" swiperSlide>


            <div *ngIf="anyContent" class="cont">
              <ion-grid>
                <ion-row (click) = "navToAdd()" class="row1">
                  <ion-col class="add"  size="8">
                    <ion-icon name="add-circle"></ion-icon><h5>Add Quiz</h5>
                  </ion-col>
                </ion-row >

                <ion-row class = "row2">
                  <ion-col *ngFor="let data of AdminData" size="6">
                    <ion-card class="ic">
                      <img alt="Silhouette of mountains" src="{{data.imageUrl}}" />
                      <ion-card-header class="ichead" >
                        <ion-card-title class="ictitle">Quiz {{data.number}}</ion-card-title>
                        <ion-card-subtitle class="icstitle">Status : &nbsp;<ion-icon name="ellipse-sharp"></ion-icon>&nbsp; {{data.status}}</ion-card-subtitle>
                      </ion-card-header>

                      <ion-card-content class="iccontent">
                        <h5>Start Date: {{data.startDate | date: 'dd/MM/yyyy'}}</h5>
                        <h5>End Date: {{data.endDate | date: 'dd/MM/yyyy'}}</h5>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>



                </ion-row>

              </ion-grid>
            </div>
            <!-- <div *ngIf="anyReq"  class="cont1">
              <div *ngFor = "let s of ZiyaramRequests">
                <ion-item >
                  <ion-label style="white-space: initial;" (click) = "promo(s)">{{s.name}}</ion-label>
                  <div (click)="EditZiyaram(s)" class="edit">
                    <ion-icon class="icon" name="pencil"></ion-icon>
                  </div>
                  <div (click)="deleteZiyaramRequest(s)" class="edit del">
                    <ion-icon class="icon" name="trash"></ion-icon>
                  </div>
                </ion-item>
              </div>
            </div> -->

            <div *ngIf="!anyContent" class="cont">
              <ion-chip style="width:95%;  top: 38%;">
                <ion-label style="margin: 0 auto;" >தரவுகள் பெறப்படவில்லை</ion-label>
              </ion-chip>
            </div>
          </ng-template>

        </swiper>
      </div>

    </ion-list>







</ion-content>

<!-- <ion-fab [style.visibility]="btn"  vertical="bottom" horizontal="start"> -->

<ion-fab style="visibility: hidden;" vertical="bottom" horizontal="start">
  <!-- <ion-fab-button size="small" color="success"> -->
    <ion-button [routerLink] = "['/add-ziyaram']"  shape="round" color="warning" style="text-transform: capitalize;">
      <ion-icon slot="start"  name="add-sharp" size="medium"></ion-icon> Add
    </ion-button>
  <!-- </ion-fab-button> -->
  <!-- <ion-fab-list side="end">
    <ion-button [routerLink] = "['/add-ziyaram']" color="warning" size="small" shape="round">
      Send Ziyaram Details
    </ion-button>
  </ion-fab-list> -->
</ion-fab>
</html>
