<ion-header style="background-color: white !important;">
  <ion-toolbar style="background-color: white !important;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="qand-a" style="color: rgb(56, 128, 255);"  icon="caret-back"></ion-back-button>


      <ng-container *ngIf="!isUpdateQuiz">
        <ion-title style="font-weight: 700;color: rgb(56, 128, 255);; text-align: center; ">Add Quiz</ion-title>
      </ng-container>
      <ng-container *ngIf="isUpdateQuiz">
        <ion-title style="font-weight: 700;color: rgb(56, 128, 255); text-align: center; ">Update Quiz Info</ion-title>
      </ng-container>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ng-container *ngIf="spinner">
<div style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:10;
  opacity: 0.7;">
      <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
    </div>
  </ng-container>


  <div >
    <form  #addForm="ngForm" validate>
      <ion-list class="form" style="position: absolute;">
        <ion-item lines="inset">
          <ion-label position="floating">Quiz No</ion-label>
          <ion-input type = "number" name="number" [(ngModel)]="quiz.number" required></ion-input>
        </ion-item>

        <ion-item lines="inset" >
          <ion-label position="floating">Start Date</ion-label>
          <ion-input type = "date" name="sdate" min = "{{getMinDate()}}" [(ngModel)]="quiz.startDate" required></ion-input>
        </ion-item>

        <ion-item lines="inset" >
          <ion-label position="floating">End Date</ion-label>
          <ion-input type = "date" name="edate" [(ngModel)]="quiz.endDate" min = "{{getMinDate()}}" required></ion-input>
        </ion-item>

        <ng-container *ngFor="let d of quiz.questions">
          <div class="que" >
            <p>{{d.qst}}</p>
            <ion-list lines="full">
              <ion-item ><ion-label>{{d.ans1}}</ion-label></ion-item>
              <ion-item >{{d.ans2}}</ion-item>
              <ion-item >{{d.ans3}}</ion-item>
              <ion-item >{{d.ans4}}</ion-item>
              <ion-item style="font-weight: bold;"> Correct Answer : {{getCorrectAns(d)}}</ion-item>
            </ion-list>
            <ion-item slot="end">
              <ion-button (click) = "deleteList(d.id)" slot="end" color="danger"><ion-icon name="trash-sharp"></ion-icon> &nbsp; Delete</ion-button>
              <ion-button (click) = "editList(d.id)" slot="end" color="success"><ion-icon name="pencil-sharp"></ion-icon> &nbsp; Edit</ion-button>
            </ion-item>
            <hr>
            </div>
          </ng-container>

          <ion-item slot="end">
            <ion-button slot="end" color="secondary" (click)="setViewModel(true)"><ion-icon name="add-outline"></ion-icon> &nbsp; Add Question</ion-button>
          </ion-item>

          <div style="margin: 1vh 2vw; border-radius: 16px;">
            <ng-container *ngIf="!isUpdateQuiz">
              <ion-button (click)="PostQuiz(addForm)" style="color: beige !important; font-weight: 850;" expand="block" color="warning" [disabled]="addForm.invalid || quiz.endDate < quiz.startDate || quiz.questions.length < 1 ">Post Quiz</ion-button>
            </ng-container>
            <ng-container *ngIf="isUpdateQuiz">
              <ion-button (click)="UpdateQuiz(addForm)" style="color: beige !important; font-weight: 850;" expand="block" color="success" [disabled]="addForm.invalid || quiz.endDate < quiz.startDate || quiz.questions.length < 1 ">Update Quiz</ion-button>
            </ng-container>
          </div>

        </ion-list>
      </form>
    </div>

    <ion-modal  backdropDismiss="false" mode="md" [isOpen]="isModalOpen">
      <ng-template>

        <ion-toolbar color="success">
          <ng-container *ngIf="!isEditModel">
            <ion-title style="font-size:14px; font-weight: 900;"> Add Question</ion-title>
          </ng-container>
          <ng-container *ngIf="isEditModel">
            <ion-title style="font-size:14px; font-weight: 900;"> Update Question</ion-title>
          </ng-container>
          <ion-buttons slot="end">
            <ion-button (click)="setViewModel(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-content>
          <ion-card style="white-space: pre-line; height: 98%; max-height: 98%; position: relative; padding-top: 10px; background-color: white">
            <ion-card-content style="white-space: pre-line; height: 100%; max-height: 100%; overflow-y: scroll;">
              <form #addQue ="ngForm">
                <ion-list lines="full">
                  <ion-item>
                    <ion-label position="floating">Question</ion-label>
                    <ion-textarea type="text" name="qst" [(ngModel)] = "query.qst" required></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Option 1</ion-label>
                    <ion-input type="text" name="ans1" [(ngModel)] = "query.ans1" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Option 2</ion-label>
                    <ion-input type="text" name="ans2" [(ngModel)] = "query.ans2" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Option 3</ion-label>
                    <ion-input type="text" name="ans3" [(ngModel)] = "query.ans3" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Option 4</ion-label>
                    <ion-input type="text" name="ans4" [(ngModel)] = "query.ans4" required></ion-input>
                  </ion-item>

                  <ion-item style="background-color: rgba(255, 245, 104, 0.658); border-radius: 16px;">
                    <ion-label position="floating" style="font-weight: bold;">Correct Answer </ion-label>
                    <ion-input style="font-weight: bold;" type="number" name="crctAns" [(ngModel)] = "query.crctAns" required></ion-input>
                  </ion-item>

                  <ng-container *ngIf="!isEditModel">
                    <ion-button [disabled]="addQue.invalid || query.crctAns < 1 || query.crctAns > 4" (click) = "addList()" expand="full" color="warning" >Add in the list</ion-button>
                  </ng-container>
                  <ng-container *ngIf="isEditModel">
                    <ion-button [disabled]="addQue.invalid || query.crctAns < 1 || query.crctAns > 4" (click) = "updateList()" expand="full" color="success" >Update list</ion-button>
                  </ng-container>
                </ion-list>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-content>
