 @media (prefers-color-scheme: dark){
    // .cont, .cont1 {
    //     background-color: rgba(129, 129, 129, 0.342);
    //     border: 2px solid rgb(0, 90, 32);
    // }
    .items{
        color: rgb(255, 255, 255);
    }
   
    .edit {
        background-color: rgb(18, 173, 245);
    }
    .del{
        background-color: rgba(201, 35, 13, 0.877);
    }
    .search{
        background-color: rgb(243, 237, 237);
        color: black;
    }
    .search ion-icon{
        color: rgb(15, 15, 15);
    }
    .close{
        color: black;
    }
    .bar {
        background-color: rgba(224, 224, 224, 0.562);
    }
    .home {
        color: #ffffff;
    }

    .tool {
        width: 100%;
        height: 100%;
        background-image: url(../../assets/pictures/qaseeda/darkheadmuham.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
              
        }
    
}

@media (prefers-color-scheme: light){
    // .cont, .cont1 {
    //     background-color: rgba(203, 245, 225, 0.315);
    //     border: 2px solid rgb(0, 83, 28);
    // }
    
    .items{
        color: rgb(0, 0, 0);
    }
    .edit {
        background-color: rgb(18, 173, 245);
    }
    .del{
        background-color: rgba(201, 35, 13, 0.877);
    }
   
    .search{
        background-color: rgb(189, 189, 189);
        color: black;
    }
    .search ion-icon{
        color: rgb(15, 15, 15);
    }
    .close{
        color: black;
    }
    .bar {
        background-color: rgba(224, 224, 224, 0.562);
    }

    .home {
        color: #fdc103;
    }

    .tool {
        width: 100%;
        height: 100%;
        background-image: url(../../assets/pictures/qaseeda/headmuham.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
              
        }
    
}

.cont{
    //margin-top: 8% !important;
    height: 92%; 
    width: 100%; 
    overflow-y: scroll;
   border-radius: 16px;

}
.cont::-webkit-scrollbar {
    display: none;
}
.cont ion-item ion-label {
    padding-left: 2%;
    font-size: 12px;
}
.lstcont::-webkit-scrollbar{
    display: none;
}

// .cont{
    
//     width: 100%;
//     height: 35px;
//     border-radius: 10px;
//     padding:0px 12px;
//     overflow-y: hidden;
//     font-weight: bold;
//     margin-bottom: 10px;
  
// }
// .cont1{
   
//     width: 72%;
//     float: left;
//     height: 35px;
//     overflow-y: hidden;
//     border-radius: 10px;
//     padding:0px 10px;
  
//     font-weight: bold;
//     margin-bottom: 10px;
//     margin-right: 4px;
// }


.items {
    text-align:justify; 
    font-weight: 500; 
    white-space: pre-wrap; 
    margin-top: 10px;
    font-size: 11px;
    
}
.edit {
    border-radius: 78px !important;
    float: left;
    width: 12%;
    height: 35px;
    text-align: center;
    
    padding: 12px 5px;
    margin-left: 2px;
    padding-top: 10px;
}
.del {
   
    margin-left: 8px;
}
.icon {
    color:white;
    font-size: 16px;
}

.auth{
    height: auto; 
    overflow-y: scroll; 
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lst{
    padding-top: 16%;
    padding-left: 2%;
    padding-right:2%;
    padding-bottom: 15%;
    height: 100%;
    width: 100%;
    position:fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
   
}

.lstcont{
    height: 100%;
    padding-bottom: 5%;
    max-height: auto;
    overflow-y: scroll;
}
.lstcont::-webkit-scrollbar{
    display: none;
}
.bar {
    width: 100%;
   margin-top: 1%;

    z-index: 3;
    position: fixed;
    padding-bottom: 2%;
    float: left;

}
.search {
    width: 95%;
    border-radius: 16px;
    margin-left: 2%;
    float: left;
    padding-left: 1%;
 
    position:fixed;
    margin-bottom: 4%;
    margin-top: 2%;
  
   
}

.search ion-icon{
    margin-left: 5%;
    font-size: 20px;
}

.close{
    margin-top: 4%;
    float: right;
    font-size: 25px;
    margin-right: 5%;
    position: relative;
    z-index: 5;
    width:30px;
    

}

.auth{
    height: auto; 
    overflow-y: scroll; 
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

