<html class="addBody">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button defaultHref="dashboard"></ion-back-button>
      <ion-title>Add Dua and Salawat</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
  opacity: 0.7;">
    <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
   </div>

  <ion-card class="card">
    <ion-card-header>
     <form  #addForm = "ngForm" validate>

      <ion-item lines="full">
        <ion-label position="floating">தலைப்பு</ion-label>
        <ion-input [(ngModel)]="duas.title" name="title" type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">துஆ / ஸலவாத்து</ion-label>
        <ion-textarea [(ngModel)]="duas.content" class="textarea"  [autoGrow]="true" name="content" required></ion-textarea>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">பொருள்</ion-label>
        <ion-textarea [(ngModel)]="duas.meaning" class="textarea"  [autoGrow]="true" name="meaning" ></ion-textarea>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">பலன்கள்</ion-label>
        <ion-textarea class="textarea" [(ngModel)]="duas.benifit" style="max-height: 300px; overflow-y: true"  [autoGrow]="true" name="benifit"></ion-textarea>
      </ion-item>

      <ion-item id = "menuModal" lines="full">
         <ion-label position="floating">Choose One</ion-label><br>
         <p><b>{{type}}</b></p>
      </ion-item>

      <div class="cont">
        <ion-button (click)="submit(addForm)" style = "display: flex;"type="submit" [disabled]="addForm.invalid || typeSelected"  class = "btn">Add</ion-button>
      </div>
     </form>
    </ion-card-header>
  </ion-card>

  <ion-modal #menuModal trigger="menuModal" [initialBreakpoint]="0.30" [breakpoints]="[0,0.30]" class="addmodal" backdropDismiss="false" >
    <ng-template>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-buttons slot="end">
            <ion-button (click)="menuModal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding modalBody">
        <ion-list class="listbody">
          <ion-item (click)="setType('dua')" class="itm">
            <ion-label>துஆ</ion-label>
          </ion-item>
          <br>
          <ion-item (click)="setType('salawat')" class="itm">
            <ion-label>ஸலவாத்து</ion-label>
          </ion-item>


        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
</html>
