
@font-face {
    font-family: nts;
    src: url('./../../assets/fonts/nctsn.ttf');
  }
@font-face {
    font-family: papa;
    src: url('./../../assets/fonts/ncpapa.ttf');
  }


  @font-face {
    font-family: gunn;
    // src: url('./../../assets/fonts/TAU_GUNN.TTF');
    src: url('./../../assets/fonts/TMOTCNB_Ship.TTF');
  }
  @font-face {
    font-family: gunn2;
    src: url('./../../assets/fonts/TAU_GUNN.TTF');
    // src: url('./../../assets/fonts/TMOTCNB_Ship.TTF');
  }


// .img1{
//   // content: url(../../assets/pictures/dashboard/headingbg.webp);
// }


.bgInner{
  //background-image: url(../../assets/pictures/dashboard/dashboardbg.jpg);
  /* From https://css.glass */
 background: rgba(255, 223, 223, 0.06);
 border-radius: 30px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(9.1px);
 -webkit-backdrop-filter: blur(9.1px);
 height: 100%;
//  margin: 4px;
 top: 6vh;
 width: 100%;
     /* left: 40px; */
 position: fixed;
 display: flex;
}

 .addmenu{
   background-color: #ffffff;
 }

 /********************************************/
  .bg{

    background-image: url(../../assets/pictures/dashboard/dashboard.webp);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    z-index: 1;


  }
  .ban{

  display: flex;
  width: 100%;
  height: 100%;
  // margin: 1vh 5vw;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  }
  .bg::-webkit-scrollbar{
    display: none;
}



  .img1{

    width: 90vw;
    height: auto;
    display: flex;
    background-size: 350px 50px;
    background-repeat: no-repeat;


  }

  .title {
    width: 90%;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }

  .title h3 {
    font-family: gunn2, serif;
    margin: 0;
    letter-spacing: 1px;
    color: rgb(2, 66, 2);
    text-shadow: 
    1px 1px 0 rgb(252, 252, 252), 
    -1px -1px 0 rgb(252, 252, 250),  
    1px -1px 0 rgb(238, 238, 234), 
    -1px 1px 0 rgb(248, 248, 244); /* Stroke effect */

  }

  .title h4 {
    font-family: papa, serif;
    margin: 0;
    letter-spacing: 1px;
    color: #717107;
    text-shadow: 
    1px 1px 0 rgb(252, 252, 252), 
    -1px -1px 0 rgb(252, 252, 250),  
    1px -1px 0 rgb(238, 238, 234), 
    -1px 1px 0 rgb(248, 248, 244); /* Stroke effect */
  }

  #sonic_title {
    // width: 100%;
    // white-space: nowrap;
    // // overflow: hidden;
    // animation: roll 10s linear infinite;
    // margin-left: 50px;
    display: none;
  
  }

  .sonic_title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .sonic_title .onair{
    font-size: 0.7rem;
    color: #ffffff;
    text-align: center;
  }

  .sonic_title .onair_type {
    font-size: 0.6rem;
    color: #ffffffd0;
    text-align: center;
  }


  // @keyframes roll {
  //   0% {
  //     // transform: margin-;
  //     // overflow: hidden;
  //     transform: translateX(100%);
  //     // margin-left: 150px;
  //   }

  //   100%{
  //     // left: -100%;
  //     // overflow: hidden;
  //     transform: translateX(-200%);
  //     // margin-left: -150px;
  //   }
  // }

  .addmodal{
    height: 42%;
    top:56%;
  }
 ion-modal .list-ios, .list-md {
  border-radius: 16px;
 }

 .dgrid {
  // display: grid;
  display: flex;
  gap:40px;
  width: 100%;
  padding-bottom: 50px;
  max-height: 50%;
  overflow-y: auto;
  scroll-behavior: smooth;
  flex-wrap: wrap;
 }

 .dgrid::-webkit-scrollbar {
  display: none;
 }

 .content {
  width: 46%;
  margin: auto;
  height: 100px;
  background-image: url("../../assets/pictures/dashboard/dashTile.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
 }

 .content-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-size: cover;
  margin-left: 5px;
}

 .moulid {
  background-image: url("../../assets/pictures/dashboard/moulid.webp");
 }
 .haseetha {
  background-image: url("../../assets/pictures/dashboard/haseetha.webp");
 }
 .ziyaram {
  background-image: url("../../assets/pictures/dashboard/ziyaram.webp");

 }

 .qna {
  
  background-image: url("../../assets/pictures/dashboard/qna.webp");
 }

 .calendar{
  background-image: url("../../assets/pictures/dashboard/calendar.webp");
}

.evidence {
  background-image: url("../../assets/pictures/dashboard/essay.webp");
}

.dua {
  background-image: url("../../assets/pictures/dashboard/dua.webp");
}

.content-text {
  font-family: gunn2;
  color:rgb(255, 166, 0);
  // flex: 0;
}



 .sample {
  /* From https://css.glass */
 /* From https://css.glass */
background: rgba(137, 137, 137, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.1px);
-webkit-backdrop-filter: blur(9.1px);

 }



 .list-md {
  background-color: transparent !important;
 }

 .sample::part(native) {
  background-color: transparent !important;
 }

 .al {
  background-color: green;
 }

 .ic {
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 15px 15px 8px 8px;
  margin-top: 1vh;
  // margin: 0px;

 }

 .newQna{
  // border: 5px solid green;
  animation: popup 2s linear infinite ;
  
 }

 @keyframes popup {
    0% {
      box-shadow: 0 0 0 0px rgba(1, 75, 5, 0.911);
    }
    35% {
      box-shadow: 0 0 0 10px rgba(1, 75, 5, 0);
    }
    37% {
      box-shadow: 0 0 0 0px rgba(1, 75, 5, 0);
    }
    38% {
      box-shadow: 0 0 0 0px rgba(198, 212, 7, 0.952);
    }
    73% {
      box-shadow: 0 0 0 10px rgba(199, 212, 7, 0);
    }

    100% {
      box-shadow: 0 0 0 0px rgba(199, 212, 7, 0);
    }
 }

 .ichead{
  display: contents;

 }

 .ictitle{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.514);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

  color: black;
  text-align: center;
  font-family: gunn;
  font-size: 0.9rem;
  font-weight: 500;
  font-size: 8px;
  // font-size: clamp(10px, 2vw, 15px);
  padding: 1vh 1vw;
  height: 4vh;
  max-height: 5vh;
  overflow-y: visible;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.box2{
  width: 93vw;
  // height: 12vh !important;
border-radius: 16px;
// border: 1px solid rgba(165, 162, 162, 0.56);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
// margin-top: 15px;
position: relative;
background-image: url("../../assets/pictures/radiobg.webp");
background-size: cover;
background-origin: padding-box;
  //background-color: aqua !important;

  // position: fixed;
  // bottom: 13vh;
  overflow: hidden;
  flex-shrink: 0;
}

.box2-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: rgb(5,43,2);
  background: linear-gradient(317deg, rgb(5 43 2 / 0%) 0%, rgb(84 108 0 / 49%) 100%)
}

.vibe {
  animation: vibe 3s linear infinite;
  border-radius: 50%;
}

@keyframes vibe {
  0% {
    box-shadow: 0 0 0 0px rgba(3, 139, 9, 0.726);
  }

  30% {
    box-shadow: 0 0 0 10px rgba(255, 136, 0, 0);
  }

  32% {
    box-shadow: 0 0 0 0px rgba(255, 136, 0, 0);
  }

  33% {
    box-shadow: 0 0 0 0px rgba(146, 144, 4, 0.726);
  }

  66% {
    box-shadow: 0 0 0 10px rgba(255, 136, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(255, 136, 0, 0);
  }
}

.radio-title {
  font-size: 1.2rem;
  color: rgba(221, 221, 221, 0.97);
  font-family: 'Roboto slab', 'serif';
  font-weight: 500;
  z-index: 1;
}

.radio-btn {
  font-size: 3rem;
  color: rgba(247, 247, 247, 0.97);
}

#play, #pause {
  opacity: 0;
  animation: pop 0.5s linear forwards ;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.mainBox{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

ion-grid {
  //height: 50vh ;
    max-height: 65vh;
    overflow-y: scroll;
    // margin-top: 1.5vh;
    // padding-bottom: 60px;

    
  }

  ion-col {
    animation: showing 0.6s linear
  }

  @keyframes showing {
    0% {
      // margin-right: 100vw;
      opacity: 0;
      transform: scale(0);
          }

    // 90% {
    //   margin-right: -5vw;
    // }
    100% {
      // margin-right: 0vw;
      opacity: 1;
      transform: scale(1)
      }
  }

  ion-row {
    justify-content: center;
  }


ion-grid::-webkit-scrollbar {
  display: none;
}

.scrolling-text {
  display: inline-block;
  //padding-right: 100%;
  margin-top: 1vh;
  animation: scrollRightToLeft 35s linear 2s infinite ;
  font-family: gunn;
  font-size: 1rem;

}

@keyframes scrollRightToLeft {
  from { transform: translateX(90vw); }
  to { transform: translateX(-100%); }
}

.ScrollCont {
  height: 5vh;
  white-space: nowrap;
  overflow: hidden;
  z-index: 5;
  position: fixed;
  display: flex;
  width: 100vw;

  /* From https://css.glass */
background: rgba(7, 91, 35, 0.62);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgb(230, 255, 3);
color: white;


}

@media (max-width:1280px) and (min-width:1024px) and (max-height: 900px){

  .title {
    margin-bottom: 1vh;
  }
  .title h3 {
    font-size: 2.4rem;
    margin-bottom: 5px;
  }

  .title h4 {
    font-size: 1.8rem;
  }

  .ban {
   justify-content: space-evenly;
   gap: 5px;
  }

  .box2 {
    width: 70vw;
    margin-bottom: 1vh;
    gap: 2px;
  }
   .ictitle{
    font-size: 0.6rem;
    padding: 2vh 1vw;
  }
  .radio-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .radio-btn {
    font-size: 2.35rem;
    margin-bottom: 10px;
  }

  .dgrid {
    gap:5px;
   
    
  }
  .content {
    height: 73px;
    width: 30%;
    margin-bottom: 30px;
  }

  .content-img {
    width: 68px;
    height: 68px;
    margin-left: 2px;
    margin-right: 15px;
  }

  .content-text {
    font-size: 1.2rem;
  }


  ion-grid {
    max-height: 55vh;
  }

  .sonic_title {
    flex-direction: row;
    justify-content: center;
  }

  .sonic_title .onair{
    font-size: 0.95rem;
    margin-right: 10px;
  }

  .sonic_title .onair_type {
    font-size: 0.95rem;
  }

}

@media (max-width: 1024px) {
  .ictitle{
    font-size: 1rem;
  }
  .radio-title {
    font-size: 2.1rem;
  }
  .radio-btn {
    font-size: 4.1rem;
  }

  .title {
    margin-bottom: 3vh;
  }
  .title h3 {
    font-size: 3.4rem;
  }

  .title h4 {
    font-size: 2.4rem;
  }

  .box2 {
    width: 90vw;
    margin-bottom: 3vh;
  }

  .sonic_title {
    flex-direction: column;
  }

  ion-grid {
    max-height: 56vh;
  }
  
  .sonic_title .onair{
    font-size: 1.3rem;
  }

  .sonic_title .onair_type {
    font-size: 1rem;
  }

  .dgrid {
    max-height: 60%;
  }
 
  .content-text{
    font-size: 1.6rem;
  }
}

@media (max-width:1024px) and (min-width:900px) and (max-height: 700px){

  .title {
    margin-bottom: 1.5vh;
  }
  .title h3 {
    font-size: 2.1rem;
  }

  .title h4 {
    font-size: 1.6rem;
  }

  .ban {
    gap: 10px;
  }

  .box2 {
    width: 60vw;
    // margin-bottom: 1.5vh;
  }
   .ictitle{
    font-size: 0.8rem;
    padding: 3vh 1vw;
  }
  .radio-title {
    font-size: 1.3rem;
  }
  .radio-btn {
    font-size: 2.5rem;
  }

  .sonic_title {
    flex-direction: row;
    justify-content: center;
  }

  .sonic_title .onair{
    font-size: 0.9rem;
  }

  .sonic_title .onair_type {
    font-size: 0.9rem;
  }

  .dgrid {
    gap:20px;
  }
  .content {
    height: 53px;
    width: 30%;
  }

  .content-img {
    width: 48px;
    height: 48px;
    margin-left: 2px;
  }

  .content-text {
    font-size: 1rem;
  }

  ion-grid {
    max-height: 45vh;
  }

}


@media (max-width: 900px) {
  .ictitle{
    font-size: 0.9rem;
  }
  .radio-title {
    font-size: 1.65rem;
  }
  .radio-btn {
    font-size: 3.8rem;
  }

  .title h3 {
    font-size: 2.7rem;
  }

  .box2 {
    width: 90vw;
  }

  .sonic_title {
    flex-direction: column;
  }

  .title h4 {
    font-size: 2.1rem;
  }

  .sonic_title .onair{
    font-size: 1.2rem;
  }

  .sonic_title .onair_type {
    font-size: 1rem;
  }

  ion-grid {
    max-height: 55vh;
  }

  .content {
    height: 85px;
  }

  .content-img {
    width: 80px;
    height: 80px;
    margin-left: 5px;
  }

  .content-text{
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .ictitle{
    font-size: 0.8rem;
  }
  .radio-title {
    font-size: 1.3rem;
  }
  .radio-btn {
    font-size: 3.5rem;
  }

  .title h3 {
    font-size: 2rem;
  }

  .title h4 {
    font-size: 1.6rem;
  }

  .ban {
    gap: 25px
  }

  
  .sonic_title .onair{
    font-size: 1rem;
  }

  .sonic_title .onair_type {
    font-size: 0.85rem;
  }

  .dgrid {
    max-height: 55%;
  }

  .content-img {
    width: 70px;
    height: 70px;

  }

  .content {
    width: 75%;
    height: 75px;
  }

  .content-text {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .ictitle{
    font-size: 0.5rem;
  }
  .radio-title {
    font-size: 1.1rem;
  }
  .radio-btn {
    font-size: 2.5rem;
  }

  // ion-grid {
  //   padding-bottom: calc(6vh + 100px);
  // }

  .title h3 {
    font-size: 1.8rem;
  }

  .title h4 {
    font-size: 1.4rem;
  }

  .sonic_title .onair{
    font-size: 0.8rem;
  }

  .sonic_title .onair_type {
    font-size: 0.6rem;
  }

  .ban {
    gap:10px;
  }

  .dgrid {
    max-height: 60%;
    gap: 20px;
  }

  .content {
    width: 85%;
    height: 70px;
  }

  .content-img {
    width: 65px;
    height: 65px;
  }

  .content-text {
    font-size: 1.2rem;
  }

  ion-grid {
    max-height: 50vh;
  }
}

@media (max-width: 500px) {
  .title h3 {
    font-size: 1.5rem;
  }

  .title h4 {
    font-size: 1.3rem;
  }

  .radio-title {
    font-size: 1rem;
  }

  .ban {
    gap: 0px;
  }
  
  .dgrid {
    max-height: 60%;
  }

  .content {
    height: 68px;
  }

  .content-img {
    width: 63px;
    height: 63px;
    margin-left: 2px;
  }

  .content-text {
    font-size: 1.2rem;
  }

}
@media (max-width: 400px) {
  .ictitle{
    font-size: 0.4rem;
  }
  .radio-title {
    font-size: 1rem;
  }
  .radio-btn {
    font-size: 2.6rem;
  }

  .title h3 {
    font-size: 1.4rem;
  }

  .title h4 {
    font-size: 1.25rem;
  }

  .sonic_title .onair{
    font-size: 0.8rem;
  }

  .sonic_title .onair_type {
    font-size: 0.6rem;
  }
  
  .content {
    height: 48px;
  }

  .content-img {
    width: 43px;
    height: 43px;
  }

  .content-text {
    font-size: 1.05rem;
  }
}

@media (max-width: 350px) {
  .title h3 {
    font-size: 1.3rem;
  }

  .title h4 {
    font-size: 1.1rem;
  }
  
  ion-grid {
    max-height: 48vh;
  }
}
