
@font-face {
    font-family: nts;
    src: url('./../../assets/fonts/nctsn.ttf');
  }

@media (prefers-color-scheme: dark){
    .haseetha {
        content: url(../../assets/pictures/dashboard/qaseedahomedarkicon.jpg);
    }
    .ziyaram {
        content: url(../../assets/pictures/dashboard/ziyaramhomedarkicon.jpg);
    }
    .evidence{
        content: url(../../assets/pictures/dashboard/evidancehomedarkicon.jpg);
    }
    .calendar {
        content: url(../../assets/pictures/dashboard/calendarhomedarkicon.jpg);
    }
    .dua{
      content: url(../../assets/pictures/dashboard/duahomedarkicon.jpg);
    }
    .moulid {
      content: url(../../assets/pictures/dashboard/moulidhomedark.jpg);
    }
    .bgInner {
       // background-image: url(../../assets/pictures/dashboard/dashboarddarkbg.jpg);
       /* From https://css.glass */
      background: rgba(0,0,0, 0.15);
      border-radius: 30px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9.1px);
      -webkit-backdrop-filter: blur(9.1px);

      height: 90vh;
      margin: 4px;
      top: 6vh;
          /* left: 40px; */
      position: relative;

    }

    .addmenu{
      background-color: #000000;
    }
    .img1{
      content: url(../../assets/pictures/dashboard/headingdarkbg.png);
    }
}

@media (prefers-color-scheme: light){
    .haseetha {
        content: url(../../assets/pictures/dashboard/qaseedahomelighticon.jpg);
    }
    .ziyaram {
        content: url(../../assets/pictures/dashboard/ziyaramhomelighticon.jpg);
    }
    .evidence{
        content: url(../../assets/pictures/dashboard/evidancehomelighticon.jpg);
    }
    .calendar {
        content: url(../../assets/pictures/dashboard/calendarhomelighticon.jpg);
    }
    .dua{
        content: url(../../assets/pictures/dashboard/duahomelighticon.jpg);
    }
    .moulid {
      content: url(../../assets/pictures/dashboard/moulidhomelight.jpg);
    }
    .bgInner{
       //background-image: url(../../assets/pictures/dashboard/dashboardbg.jpg);
       /* From https://css.glass */
      background: rgba(255, 223, 223, 0.06);
      border-radius: 30px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9.1px);
      -webkit-backdrop-filter: blur(9.1px);

      height: 90vh;
      margin: 4px;
      top: 6vh;
          /* left: 40px; */
      position: relative;
    }

      .addmenu{
        background-color: #ffffff;
      }
      .img1{
        content: url(../../assets/pictures/dashboard/headingbg.png);
      }
}

  .bg{

    background-image: url(../../assets/pictures/dashboard/dashboard.jpg);

    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    height: 100%;

    justify-content: space-around;
    overflow-x: scroll;


  }
  .ban{

   display: flex;
   justify-content: center;
    background-repeat: no-repeat;
    background-size:350px 50px ;
    margin: 2%;
    width: 350px; height: 50px; z-index: 1;
    overflow-x: hidden;

  }
  .bg::-webkit-scrollbar{
    display: none;
}
  .txt{
    font-family: nts !important;
    font-weight: 500;
    text-align: center;
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    padding: 3px;
    overflow: scroll;

    display: grid;
    font-size: 3.5vh;
    justify-content: center;
    align-items: center;
  }


  .img {
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5%;
    margin-top: 7vh;


  }

  .img1{

    width: 90vw;
    height: auto;
    display: flex;
    background-size: 350px 50px;
    background-repeat: no-repeat;

  }


  .haseetha, .ziyaram, .evidence, .calendar, .dua, .moulid{
    border-radius: 5%;
    width: 40vh !important;
    height: 40vh !important;
  }

  .addmodal{
    height: 42%;
    top:56%;
  }
 ion-modal .list-ios, .list-md {
  border-radius: 16px;
 }


 .sample {
  /* From https://css.glass */
 /* From https://css.glass */
background: rgba(137, 137, 137, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.1px);
-webkit-backdrop-filter: blur(9.1px);

 }



 .list-md {
  background-color: transparent !important;
 }

 .sample::part(native) {
  background-color: transparent !important;
 }




