  
<ion-content style="height:100%;">

  

  <div class="bg">
   <div class="ban" ><div class="txt"><ion-label >m`;Y];]_d;dh`; jkpo;</ion-label></div>
  </div>

  <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"
    [pagination]="true"
    class="mySwiper"
  >
        <ng-template swiperSlide>
          <div (click)="navigateTo('home')" class="img">
            <img class="haseetha"/>
            
          </div>
          
        </ng-template>
        <ng-template  swiperSlide>
          <div (click)="navigateTo('ziyarams')"  class="img">
            <img class="ziyaram"/>          
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div (click)="navigateTo('evidence')" class="img">
            <img class="evidence"/>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div (click)="navigateTo('calendar')"  class="img">
            <img class="calendar"/>
          </div>
          
        </ng-template>
      </swiper>

    
  </div>
  
     <ion-fab *ngIf = "obj" vertical="bottom" horizontal="end" slot="fixed" (click)="setAddModel(true)" >
      <ion-fab-button color="secondary">
        <ion-icon name="add" mode="md"></ion-icon>
      </ion-fab-button>
    </ion-fab>


    <!-----------------------------------Add Model--------------------------------->
    <ion-modal class="addmodal" backdropDismiss="false" [isOpen]="isAddModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="setAddModel(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-button (click)="navigateTo('add')" style="display: flex; width: 90%; margin: 5% 5%;" color="success">Add Hazeetha</ion-button>
          <ion-button (click)="navigateTo('add-ziyaram')" style="display: flex; width: 90%; margin: 5% 5%;" color="success">Add Ziyaram Detail</ion-button>
          <ion-button (click)="navigateTo('add-evidence')" style="display: flex; width: 90%; margin: 5% 5%;" color="success">Add Religious Topic</ion-button>
          <ion-button (click)="navigateTo('add-calendar')" style="display: flex; width: 90%; margin: 5% 5%;" color="success">Add Calendar Detail</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>

