
<ion-content >
  <div class = "ScrollCont">
    <div class = "scrolling-text">ஷேக் ஹசீனா பிரதமர் பதவியை விட்டு வெளியேறினாலும், நாங்கள் மிகவும் கடினமான சூழ்நிலையில் இருந்தபோது.”  அவர் நம் நாட்டிற்கு 200 மில்லியன் டாலர்கள் வழங்கியதை மறக்கக் கூடாது </div>

  </div>

  <div class="bg">
    <div class="bgInner">


   <div class="ban" >
    <div style = "justify-content: center; align-items: center;">
      <div class="img1">

      </div>
    </div>

      <div class = "mainC">

        <div class="box">
          <div class = "heading">
            <div class="chip ">

            </div>
            <div (click)="navigateTo('moulids')" class="topic">
              <p>nksypJfs;</p>
            </div>
          </div>

          <div class = "heading">
            <div class="chip">

            </div>
            <div (click)="navigateTo('home')" class="topic">
              jkpo; `]Pjhf;fs;
            </div>
          </div>

          <div class = "heading">
            <div class="chip">

            </div>
            <div (click)="navigateTo('ziyarams')" class="topic" style="size: 2em;">
              <small style="font-size: 0.5em; margin-bottom: 0.5vh;">,yq;ifapy; mikag;ngw;w</small>
              ]pahuq;fs;
            </div>
          </div>

          <div class = "heading">
            <div class="chip">

            </div>
            <div (click)="navigateTo('qand-a')" class="topic" style="size: 2em;">
              <small style="font-size: 0.5em; margin-bottom: 0.5vh;">,];yhkpa</small>
              Nfs;tp - gjpy;
            </div>
          </div>

          <div class = "heading">
            <div class="chip">

            </div>
            <div (click)="navigateTo('evidence')" class="topic" style="size: 2em;">
              <small style="font-size: 0.5em; margin-bottom: 0.5vh;">,];yhkpa</small>
              khu;f;f tpsf;fq;fs;
            </div>
          </div>

          <div class = "heading">
            <div class="chip">

            </div>
            <div (click)="navigateTo('calendar')" class="topic" style="size: 2em;">
              <small style="font-size: 0.5em; margin-bottom: 0.5vh;">,];yhkpa</small>
              tpN\l jpdq;fs;
            </div>
          </div>

          <div class = "heading">
            <div class="chip">

            </div>
            <div (click)="navigateTo('dua')" class="topic" style="size: 2em;">
              <small style="font-size: 0.5em; margin-bottom: 0.5vh;">m];khcy; `_];dh</small>
              <small style="font-size: 0.3em; margin-bottom: 0.5vh;">kw;Wk;</small>
              JMf;fs;> ]ythj;Jf;fs;
            </div>
          </div>


        </div>



        <div class="box box2">

        </div>

      </div>

   </div>





    </div>
  </div>

</ion-content>


  <!-- <div class="bg1">
    <div class="bgInner1">

    </div>
  </div> -->

