
<ion-content >



  <div class="bg">
   <!-- <div class="ban" > -->
    <div style = "display: flex; justify-content: center; width: 100%; margin-top: 3vh; position: fixed;">
      <div class="img1"></div>
    </div>




  <swiper
  [loop]="true"
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"
    [pagination]="true"
    class="mySwiper"
  >
        <ng-template swiperSlide>
          <div (click)="navigateTo('moulids')" class="img">
            <img class="moulid"/>

          </div>

        </ng-template>
        <ng-template swiperSlide>
          <div (click)="navigateTo('home')" class="img">
            <img class="haseetha"/>

          </div>

        </ng-template>
        <ng-template  swiperSlide>
          <div (click)="navigateTo('ziyarams')"  class="img">
            <img class="ziyaram"/>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div (click)="navigateTo('evidence')" class="img">
            <img class="evidence"/>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div (click)="navigateTo('calendar')"  class="img">
            <img class="calendar"/>
          </div>

        </ng-template>
        <ng-template swiperSlide>
          <div (click)="navigateTo('dua')"  class="img">
            <img class="dua"/>
          </div>

        </ng-template>
      </swiper>


  </div>


     <ion-fab *ngIf = "obj" vertical="bottom" horizontal="end" slot="fixed" (click)="setAddModel(true)" >
      <ion-fab-button color="secondary">
        <ion-icon name="add" mode="md"></ion-icon>
      </ion-fab-button>
    </ion-fab>



    <!-----------------------------------Add Model--------------------------------->
    <ion-modal class="addmodal" backdropDismiss="false" [isOpen]="isAddModalOpen">
      <ng-template>

        <ion-content class="ion-padding addmenu">
          <div style="display: flex;  justify-content: center ">
            <ion-icon (click)="setAddModel(false)" name="chevron-down" size="large"></ion-icon>
          </div>

          <ion-list>
            <ion-item (click)="navigateTo('add')" >
              <ion-avatar slot="start">
                <ion-img src="../../assets/icon/haseetha.jpg"></ion-img>
              </ion-avatar>
              <ion-label >
                Add Hazeetha
              </ion-label>
            </ion-item>
            <ion-item (click)="navigateTo('add-ziyaram')">
              <ion-avatar slot="start">
                <ion-img src="../../assets/icon/ziyaram.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                Add Ziyaram
              </ion-label>
            </ion-item>
            <ion-item (click)="navigateTo('add-evidence')">
              <ion-avatar slot="start">
                <ion-img src="../../assets/icon/evidence.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                Add Religious Topic
              </ion-label>
            </ion-item>
            <ion-item (click)="navigateTo('add-calendar')">
              <ion-avatar slot="start">
                <ion-img src="../../assets/icon/calendar.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
               Add Calendar Event
              </ion-label>
            </ion-item>
            <ion-item (click)="navigateTo('add-dua')">
              <ion-avatar slot="start">
                <ion-img src="../../assets/icon/dua.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
               Add Duas & Salawats
              </ion-label>
            </ion-item>
            <ion-item (click)="navigateTo('wallalert')">
              <ion-avatar slot="start">
                <ion-img src="../../assets/icon/alert.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
               Manage Daily Alerts
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>

