<html class="addBody">

<div class="tool evitool">
  <img class="img" alt="">
</div>



<ion-content >
  <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
  opacity: 0.7;">
    <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
   </div>
    <!-- <div class="bar primary">
      <ion-input style="font-style: italic; font-size: smaller;" class="search" [(ngModel)]="searchKey" (ionChange)="handleSearch()" placeholder="Search by topic"><ion-icon  name="search"></ion-icon></ion-input>
      <div class="close">
        <ion-icon [style.visibility]="vis" (click)="clearSearch()" name="close"></ion-icon>
      </div> -->

      <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->

    <!-- </div> -->

    <ion-list class="lst lstevi">
      <div class="lstcont">
        <div class="cont">
          <ion-grid  class="grid">

          <ion-row *ngIf="!isAqeeda" (click)="viewArticles('a')" class="smallTile">
            <ion-col [ngClass]="opened ? 'hide smallrow' : 'show smallrow'"  size="12">
              <img style="width: 5rem; height: 5rem;" src="../../assets/pictures/evidence/kolhai.webp" alt="">
              <div>
                mfPjhrhu; Mf;fq;fs;
              </div>
            </ion-col>

          </ion-row>

          <ion-row *ngIf="isAqeeda" class="bigTile">
            <!-- <ion-col  size="3">
              <img style="width: 5rem; height: 5rem;" src="../../assets/pictures/evidence/aqeeda.webp" alt="">
            </ion-col> -->
            <ion-col style="color: black"  size="12">
              <div (click) = "viewArticles('a')" style="display: flex; justify-content: center;">
                <ion-icon name="albums"></ion-icon>
               </div>

              <div *ngIf="aqAnyContent" class="content">
                <div class="bar">
                  <ion-input style="font-style: italic; font-size: smaller;" class="search" [(ngModel)]="searchKey" (ionChange)="handleSearch('a')" placeholder="Search by title"><ion-icon  name="search"></ion-icon></ion-input>
                  <ion-button fill="clear" color="dark" [disabled]="vis" (click)="clearSearch()">Clear</ion-button>
                </div>
                <div *ngIf="obj" >
                  <div *ngFor = "let s of aqeeda">
                    <ion-item >
                      <ion-label style="white-space: initial" (click)="promo(s)">{{s.title}}</ion-label>
                      <div (click)="EditEvidence(s)" class="edit">
                        <ion-icon class="icon" name="pencil"></ion-icon>
                      </div>
                      <div (click)="deleteEvidence(s)" class="edit del">
                        <ion-icon class="icon" name="trash"></ion-icon>
                      </div>

                    </ion-item>
                  </div>


                </div>

                <div *ngIf="!obj" >
                  <div *ngFor = "let s of aqeeda">
                    <ion-item>
                      <ion-label style="white-space: initial" (click)="promo(s)">{{s.title}}</ion-label>
                    </ion-item>
                  </div>
                </div>
                <div style="display: flex; justify-content: space-around;align-items: center;" *ngIf = "aqeeda.length === 0" >

                  <ion-chip style="width:95%;height: auto; background-color: rgba(107, 106, 106, 0.048);">
                    <ion-label style="margin: 0 auto;"><ion-icon name="search-outline"></ion-icon>&nbsp; தேடல் கிடைக்கவில்லை.</ion-label>
                  </ion-chip>

              </div>
              </div>

              <div *ngIf="!aqAnyContent">
                <ion-chip>
                  <ion-label style="margin: 0 auto;" ><ion-icon name="search-outline"></ion-icon>&nbsp; &nbsp; விரைவில் இணைக்கப்படும்</ion-label>
                </ion-chip>
              </div>


            </ion-col>
          </ion-row>

          <ion-row *ngIf="!isSunnath" (click)="viewArticles('s')" class="smallTile">
            <ion-col  [ngClass]="opened ? 'hide smallrow' : 'show smallrow'"  size="12">
              <img style="width: 5rem; height: 5rem;" src="../../assets/pictures/evidence/aqeeda.webp" alt="">
              <div>
                gp/f;`;rhu; Mf;fq;fs;
              </div>
            </ion-col>

          </ion-row>

          <ion-row *ngIf="isSunnath" class="bigTile">
            <!-- <ion-col  size="3">
              <img style="width: 5rem; height: 5rem;" src="../../assets/pictures/evidence/aqeeda.webp" alt="">
            </ion-col> -->
            <ion-col style="color: black"  size="12">
             <div (click) = "viewArticles('s')" style="display: flex; justify-content: center;">
              <ion-icon name="albums"></ion-icon>
             </div>

              <div *ngIf="fiqhAnyContent" class="content">
                <div class="bar">
                  <ion-input style="font-style: italic; font-size: smaller;" class="search" [(ngModel)]="searchKey" (ionChange)="handleSearch('s')" placeholder="Search by title"><ion-icon  name="search"></ion-icon></ion-input>
                  <ion-button fill="clear" color="dark" [disabled]="vis"  (click)="clearSearch()">Clear</ion-button>
                </div>
                <div  *ngIf="obj" >
                  <div *ngFor = "let s of fiqh">
                    <ion-item >
                      <ion-label style="white-space: initial" (click)="promo(s)">{{s.title}}</ion-label>
                      <div (click)="EditEvidence(s)" class="edit">
                        <ion-icon class="icon" name="pencil"></ion-icon>
                      </div>
                      <div (click)="deleteEvidence(s)" class="edit del">
                        <ion-icon class="icon" name="trash"></ion-icon>
                      </div>
                    </ion-item>
                  </div>


                </div>

                <div *ngIf="!obj" >
                  <div *ngFor = "let s of fiqh">
                    <ion-item>
                      <ion-label style="white-space: initial" (click)="promo(s)">{{s.title}}</ion-label>

                    </ion-item>
                  </div>
                </div>
                <div style="display: flex; justify-content: space-around;align-items: center;" *ngIf = "fiqh.length === 0" >

                  <ion-chip style="width:95%;height: auto; background-color: rgba(107, 106, 106, 0.048);">
                    <ion-label style="margin: 0 auto;"><ion-icon name="search-outline"></ion-icon>&nbsp; தேடல் கிடைக்கவில்லை.</ion-label>
                  </ion-chip>

              </div>
              </div>

              <div *ngIf="!fiqhAnyContent" >
                <ion-chip>
                  <ion-label style="margin: 0 auto;" ><ion-icon name="search-outline"></ion-icon>&nbsp; &nbsp; விரைவில் இணைக்கப்படும்</ion-label>
                </ion-chip>
              </div>




            </ion-col>
          </ion-row>

          <ion-row *ngIf="!isOther" (click)="viewArticles('o')" class="smallTile">
            <ion-col  [ngClass]="opened ? 'hide smallrow' : 'show smallrow'"  size="12">
              <img style="width: 5rem; height: 5rem;" src="../../assets/pictures/evidence/other.webp" alt="">
              <div>NtW Mf;fq;fs;</div>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="isOther" class="bigTile">
            <!-- <ion-col  size="3">
              <img style="width: 5rem; height: 5rem;" src="../../assets/pictures/evidence/aqeeda.webp" alt="">
            </ion-col> -->
            <ion-col style="color: black"  size="12">
             <div (click) = "viewArticles('o')" style="display: flex; justify-content: center;">
              <ion-icon name="albums"></ion-icon>
             </div>

              <div *ngIf="othAnyContent" class="content">
                <div class="bar">
                  <ion-input style="font-style: italic; font-size: smaller;" class="search" [(ngModel)]="searchKey" (ionChange)="handleSearch('o')" placeholder="Search by title"><ion-icon  name="search"></ion-icon></ion-input>
                  <ion-button fill="clear" color="dark" [disabled]="vis" (click)="clearSearch()">Clear</ion-button>
                </div>
                <div  *ngIf="obj">
                  <div *ngFor = "let s of other">
                    <ion-item>
                      <ion-label style="white-space: initial" (click)="promo(s)">{{s.title}}</ion-label>
                      <div (click)="EditEvidence(s)" class="edit">
                        <ion-icon class="icon" name="pencil"></ion-icon>
                      </div >
                      <div (click)="deleteEvidence(s)" class="edit del">
                        <ion-icon class="icon" name="trash"></ion-icon>
                      </div>
                    </ion-item>
                  </div>
                </div>

                <div *ngIf="!obj">
                  <div *ngFor = "let s of other">
                    <ion-item>
                      <ion-label style="white-space: initial" (click)="promo(s)">{{s.title}}</ion-label>

                    </ion-item>
                  </div>
                </div>
                <div style="display: flex; justify-content: space-around;align-items: center;" *ngIf = "other.length === 0" >

                  <ion-chip style="width:95%;height: auto; background-color: rgba(107, 106, 106, 0.048);">
                    <ion-label style="margin: 0 auto;"><ion-icon name="search-outline"></ion-icon>&nbsp; தேடல் கிடைக்கவில்லை.</ion-label>
                  </ion-chip>

              </div>
              </div>

              <div *ngIf="!othAnyContent">
                <ion-chip >
                  <ion-label style="margin: 0 auto;" ><ion-icon name="search-outline"></ion-icon>&nbsp; &nbsp; விரைவில் இணைக்கப்படும்</ion-label>
                </ion-chip>
              </div>
            </ion-col>
          </ion-row>

          </ion-grid>
        </div>
    </div>
    </ion-list>

    <ion-modal  backdropDismiss="false" mode="md" [isOpen]="isModalOpen">
      <ng-template>

          <ion-toolbar color="success">
            <ion-title style="font-size:14px">{{currEvidence.title}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setViewModel(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>

        <ion-content class="modalBody">
          <ion-card style = " background-color: #ecebeb;">
            <ion-card-content style="white-space: pre-line; text-align: justify; color: black;">
              {{currEvidence.content}}
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>


    <!-- Edit Model -->
    <ion-modal backdropDismiss="false" [isOpen]="isEditOpen">
      <ng-template>


          <ion-toolbar color="warning">
            <ion-title style="font-size:14px">{{editEvidence.title}}</ion-title>

            <ion-buttons slot="end">
              <ion-button (click)="setEditFalse()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>

        <ion-content class="ion-padding modalBody">
          <form  #addForm = "ngForm" validate>
            <ion-item lines="full">
              <ion-label position="floating">தலைப்பு</ion-label>
              <ion-input style = " color: black" [(ngModel)]="editEvidence.title"  name="title" type="text" required></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">விபரம்</ion-label>
              <ion-textarea [(ngModel)]="editEvidence.content" style="max-height: 300px; overflow-y: true;  color: black;"  [autoGrow]="true" name="content"required></ion-textarea>
            </ion-item>

              <ion-item style = "background-color: rgb(211, 210, 210)">
                <ion-select style="color: black;"  [(ngModel)]="editEvidence.type"  name="type" interface="action-sheet" placeholder="பிரதான பிரிவு" required>
                  <ion-select-option style="color: black" value="aqeeda">அகீதா</ion-select-option>
                  <ion-select-option style="color: black" value="fikh">பிஃக்ஹ்</ion-select-option>
                  <ion-select-option style="color: black" value="other">ஏனையவை</ion-select-option>
                </ion-select>
              </ion-item>

            <div class="cont">
              <ion-button color="success" (click)="update()" style = "display: flex;"type="submit" [disabled]="addForm.invalid"  class = "btn">Update</ion-button>
            </div>
           </form>
        </ion-content>

      </ng-template>
    </ion-modal>

</ion-content>
</html>
