@font-face {
  font-family: nts;
  src: url('./../../assets/fonts/nckiddu.ttf');
}

// @media (prefers-color-scheme: light){


// }

// @media (prefers-color-scheme: dark){
//     .items{
//         color: rgb(255, 255, 255);
//     }

//     .edit {
//       border: 1px solid rgb(238, 232, 232);
//       color: #ffffff;
//       background-color: #3477ce;
//     }
//     .del{
//       color: rgb(255, 255, 255);
//       border: 1px solid rgb(238, 232, 232);
//       background-color: #c74d07;
//     }
//     .search{
//         background-color: rgb(243, 237, 237);
//         color: black;
//     }
//     .search ion-icon{
//         color: rgb(15, 15, 15);
//     }
//     .close{
//         color: black;
//     }

//     .home {
//         color: #ffffff;
//     }

//     // .img {
//     //   content:  url(../../assets/pictures/evidence/evidencedarkbanner.jpg);
//     // }

//     .head{
//         background-color: #b5b6b07a;
//         color: #e9e6e6;
//         box-shadow: 0 0 6px 0 #ffffff;
//     }
//     .lstcont {
//        /* From https://css.glass */
//        background: rgba(0, 0, 0, 0.39);
//       border-radius: 16px;
//       box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//       backdrop-filter: blur(5px);
//       -webkit-backdrop-filter: blur(14px);
//     }

// }

.img {
  content : url(../../assets/pictures/evidence/evidancelightbanner.webp);
}

.items{
  color: rgb(0, 0, 0);
}

.del{
color: #c74d07 !important;
border: 1px solid #c74d07 !important;
background-color: white !important;;
}

.search{
  background-color: rgb(189, 189, 189);
  color: black;
}
.search ion-icon{
  color: rgb(15, 15, 15);
}



.home {
  color: #fdc103;
}



.head{
  background-color: #eff7cbb9;
  color: #141414;

  box-shadow: 0 0 6px 0 #cfcfcf;
}

.lstcont {
/* From https://css.glass */
// background: rgba(185, 181, 181, 0.39);
// border-radius: 16px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(5px);
// -webkit-backdrop-filter: blur(14px);
}

/*************************/

.items {
    text-align:justify;
    font-weight: 500;
    white-space: pre-wrap;
    margin-top: 10px;
    font-size: 11px;

}
.edit {
  border-radius: 78px !important;
  float: left;
  width: 7vw;
  height: 7vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  border: 1px solid #3477ce;
color: #3477ce;
background-color: white !important ;

  margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}
.del {

    margin-left: 4vw;
}
.icon {
    //color:white;
    font-size: 3vw;
}

.auth{
    height: auto;
    overflow-y: scroll;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lst{

   width: 100%;
    position:fixed;
    background-repeat: no-repeat;


    background-size: 100vh auto;
    height: 90vh;
   // background: #b9ebc8c4;
    background-attachment: fixed;
    background-image: url('../../assets/pictures/bg.webp');
    background-position: center;




}




.lstcont{
    height: inherit;
    margin-top: 0.5vh;
    padding-top: 0.5vh;
    max-height: auto;
    overflow-y: scroll;

   /* From https://css.glass */
// background: rgba(0, 0, 0, 0.56);
// border-radius: 16px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(14px);
// -webkit-backdrop-filter: blur(14px);
}


.auth{
    height: auto;
    overflow-y: scroll;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.bar {
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 25px;
  background-color: rgba(68, 67, 67, 0.39);
  //position: fixed;
  //padding-bottom: 2%;
  float: left;
  display: flex;
  align-items:center ;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;


}
.search {
  width: 96%;
  border-radius: 16px;
  margin-left: 2%;
  float: left;
 margin-right: 2%;
  height : 45px;
  //position:fixed;
  //margin-bottom: 4%;
  //margin-top: 2%;
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
  background-color: rgb(189, 189, 189);
  color: black;
}

.search ion-icon{
  margin-left: 5%;
  font-size: 20px;
  margin-right: 3%;
  color: rgb(15, 15, 15);

}

.cont{

    height: inherit;
    //margin-bottom: 3vh;
    width: 100vw;
    //max-height: 100%;
    overflow-y: scroll;
    border-radius:6%;
    display: flex;


}
.cont ion-item ion-label {
    padding-left: 2%;
    font-size: 12px;
}
.head{
    position: fixed;
    display: flex;
    top:1%;
    z-index: 2;
    width: 98%;
    height:4vh;
    border-radius: 4px;
    text-align: center;
    justify-items:center;
    align-items: center;
    // min-height: 35px;
    // max-height: 35px;
}
.head ion-icon{
  margin: 0 2vw;
}
.head ion-text{
    font-size: 15px;
    font-weight: 1000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.cont::-webkit-scrollbar {
    display: none;
}
.tool {
  width: 100%;
  height: auto;
  //margin-top: 2vh;
  }
  .modalBody{
    background-color: #ecebeb;
  }


 .ic {
  background-color: rgba(250, 235, 215, 0);
  border-radius: 4vw;
  margin-top: 1vh;
  width: 50vw;

 }
  .ichead{
    display: contents;

   }

   .ictitle{
    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

    color: black;
    text-align: center;
    font-family: nts;
    font-size: 2vw;
    padding: 1vh 1vw;
    height: 4vh;
    max-height: 5vh;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   ion-chip {
    background-color: rgba(107, 106, 106, 0.048);
    display: flex;
   }

   .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;


    //animation-delay: 0.5s
   }

   @keyframes loading {
    0% { margin-bottom:3.5rem ;
    opacity: 0;
  }
    100% { margin-bottom: 0.5rem;
    opacity: 1; }
   }

   .smallTile {
    display: flex; background-color: white; justify-items: center; align-items: center; padding:0.5rem; border-radius: 25px; margin-left: 0.5rem; margin-right: 0.5rem;margin-bottom: 0.5rem;

    animation: loading 1s linear;
   }

   .content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
   }

   .bigTile{

    display: flex; background-color: white; justify-items: center; align-items: center;padding:0.5rem; border-radius: 25px; margin-left: 0.5rem; margin-right: 0.5rem; margin-bottom: 0.5rem;
    overflow-y: scroll;

    animation: pageUp 0.5s linear;


   }

   .bigTile::-webkit-scrollbar {
    display: none;
   }

   @keyframes pageUp {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
  }

  //  .test {
  //   background-color: #3477ce;
  //   width: 40px;
  //   height: var(--tab-height);
  //  }

  //  ion-grid {
  //   display: flex;
  //   gap: 1rem;
  //  }

  //  ion-grid > ion-row {
  //   flex: 1;
  //   background-color: #c74d07;
  //  }

  //  ion-grid > ion-row:hover {
  //   background-color: #3477ce;
  //   flex: 5;
  //  }

  // ion-row > ion-col:nth-child(2){
  //   padding-left: 2rem;
  // }

  .smallrow{
    display: flex;
    justify-content: start;
    align-items: center;
  }
.hide{
  img{
    display: none;
    opacity: 0;
    animation: hidden 0.5s linear;
  }

  div{
    color: black;
    margin-left: 1.5rem;
    font-size:1rem;
    animation: movement 0.6s linear;
    font-family: nts;
  }
}

.show {
  img {
    display: block;
    opacity: 1;
    animation: shown 0.5s linear reverse;
  }
  div{
    margin-left: 1.5rem;
    color: black;
    font-size: 1.5rem;
    animation: movement1 0.5s linear;
    font-family: nts;
  }
}

// .movement {
//   animation: movement 0.5s linear;
// }

@keyframes movement{
  0% { margin-left: 6.5rem;
  font-size: 1.5rem; }
  100% { margin-left: 1.5rem;
  font-size: 1rem; }
}

@keyframes movement1{
  0% {
  font-size: 1rem; }
  100% {
  font-size: 1.5rem; }
}

@keyframes hidden {
  0% { display: block;
  opacity: 1;
  height: 5rem;
  width: 5rem;
}
  100% { display: none;
  opacity: 0;
  height: 0rem;
width: 0rem;
}
}

@keyframes shown {
  0% { display: block;
  opacity: 1;
  height: 5rem;
  width: 5rem;
}
  100% { display: none;
  opacity: 0;
  height: 0rem;
width: 0rem;
}
}
