// @media (prefers-color-scheme: light){


// }

// @media (prefers-color-scheme: dark){
//     .items{
//         color: rgb(255, 255, 255);
//     }

//     .edit {
//       border: 1px solid rgb(238, 232, 232);
//       color: #ffffff;
//       background-color: #3477ce;
//     }
//     .del{
//       color: rgb(255, 255, 255);
//       border: 1px solid rgb(238, 232, 232);
//       background-color: #c74d07;
//     }
//     .search{
//         background-color: rgb(243, 237, 237);
//         color: black;
//     }
//     .search ion-icon{
//         color: rgb(15, 15, 15);
//     }
//     .close{
//         color: black;
//     }

//     .home {
//         color: #ffffff;
//     }

//     // .img {
//     //   content:  url(../../assets/pictures/evidence/evidencedarkbanner.jpg);
//     // }

//     .head{
//         background-color: #b5b6b07a;
//         color: #e9e6e6;
//         box-shadow: 0 0 6px 0 #ffffff;
//     }
//     .lstcont {
//        /* From https://css.glass */
//        background: rgba(0, 0, 0, 0.39);
//       border-radius: 16px;
//       box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//       backdrop-filter: blur(5px);
//       -webkit-backdrop-filter: blur(14px);
//     }

// }

.img {
  content : url(../../assets/pictures/evidence/evidancelightbanner.webp);
}

.items{
  color: rgb(0, 0, 0);
}
.edit {
border: 1px solid #3477ce;
color: #3477ce;
background-color: white !important ;
}
.del{
color: #c74d07 !important;
border: 1px solid #c74d07 !important;
background-color: white !important;;
}

.search{
  background-color: rgb(189, 189, 189);
  color: black;
}
.search ion-icon{
  color: rgb(15, 15, 15);
}
.close{
  color: black;
}


.home {
  color: #fdc103;
}



.head{
  background-color: #eff7cbb9;
  color: #141414;

  box-shadow: 0 0 6px 0 #cfcfcf;
}

.lstcont {
/* From https://css.glass */
background: rgba(185, 181, 181, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(14px);
}

/*************************/

.items {
    text-align:justify;
    font-weight: 500;
    white-space: pre-wrap;
    margin-top: 10px;
    font-size: 11px;

}
.edit {
  border-radius: 78px !important;
  float: left;
  width: 7vw;
  height: 7vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.del {

    margin-left: 4vw;
}
.icon {
    //color:white;
    font-size: 3vw;
}

.auth{
    height: auto;
    overflow-y: scroll;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lst{

   // padding-left: 2%;
   // padding-right:2%;
    padding-top: 2%;
    height: 100%;
    width: 100%;
    position:fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;




}




.lstcont{
    height: 100%;
    margin-top: 0.5vh;
    padding-top: 0.5vh;
    max-height: auto;
    overflow-y: scroll;

   /* From https://css.glass */
// background: rgba(0, 0, 0, 0.56);
// border-radius: 16px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(14px);
// -webkit-backdrop-filter: blur(14px);
}
.bar {
    width: 100%;
   margin-top: 10px;

    z-index: 3;
    position: fixed;
    padding-bottom: 2%;
    float: left;

}
.search {
    width: 95%;
    border-radius: 16px;
    margin-left: 2%;
    float: left;
    padding-left: 1%;
   height: 45px;
    position:fixed;
    margin-bottom: 4%;
    margin-top: 2%;


}

.search ion-icon{
    margin-left: 5%;
    font-size: 20px;
}

.close{
    margin-top: 2.4vh;
    float: right;
    font-size: 25px;
    margin-right: 5%;
    position: relative;
    z-index: 5;
    width:30px;


}

.auth{
    height: auto;
    overflow-y: scroll;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cont{
    margin-top: 5vh !important;
    height: 71vh;
    //margin-bottom: 3vh;
    width: 98%;
    //max-height: 100%;
    overflow-y: scroll;
    border-radius:6%;
    padding-left: 1%;
    padding-right:1%;

}
.cont ion-item ion-label {
    padding-left: 2%;
    font-size: 12px;
}
.head{
    position: fixed;
    display: flex;
    top:1%;
    z-index: 2;
    width: 98%;
    height:4vh;
    border-radius: 4px;
    text-align: center;
    justify-items:center;
    align-items: center;
    // min-height: 35px;
    // max-height: 35px;
}
.head ion-icon{
  margin: 0 2vw;
}
.head ion-text{
    font-size: 15px;
    font-weight: 1000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.cont::-webkit-scrollbar {
    display: none;
}
.tool {
  width: 100%;
  height: auto;
  //margin-top: 2vh;
  }
  .modalBody{
    background-color: #ecebeb;
  }
