/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~swiper/swiper.min.css';
@import '~@ionic/angular/css/ionic-swiper.css';

@import 'swiper/css';
@import '@ionic/angular/css/ionic-swiper';

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

* {
  user-select: auto;
}
ion-modal {
    --height: 100%;
    --border-radius: 16px;
  }

  .ng2-pdf-viewer-container{
    display: inline-table;
  }




  .lst::before{

        content: "";
        background-image: url(./assets/pictures/bg.png);
      position: fixed;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      min-height: var(--original-viewport-height);
      left: 0;
      top: 0;
      will-change: transform;
      z-index: -1;
      opacity: 0.1;
    }


  ion-modal ion-toolbar {
    --background: rgba(168, 227, 250, 0.781);
    --color: rgb(24, 1, 1);
  }

  ion-modal.myModel{
    --width: 80% !important;
    // --margin: 5% 10%;
    --height: 58%;
    --margin-top: 5px !important;
    --position: fixed !important;
}
body{
  --ion-background-color: none !important;
}



@media (prefers-color-scheme: dark){
  .addBody{
    background-color: rgb(43, 42, 42);
   }
   .modalBody{
    background-color: rgb(43, 42, 42);
   }
   ion-alert.delAlert {
    --background: rgb(85, 83, 83) !important;
    --border: 2px solid white;
     button.alert-button:nth-child(1){
       color: rgb(255, 255, 255);
     }
     button.alert-button:nth-child(2){
       color: rgb(255, 255, 255);
     }
   }
}

@media (prefers-color-scheme: light){
  .addBody{
    background-color: rgb(245, 245, 245);
   }
   .modalBody{
    background-color: rgb(255, 255, 255);
   }
   ion-alert.delAlert {
    --background: rgb(255, 255, 255) !important;

     button.alert-button:nth-child(1){
       color: black;
     }
     button.alert-button:nth-child(2){
       color: black;
     }
   }
}
ion-alert{
  --background: rgb(131, 128, 128) !important;

  button.alert-button:nth-child(1){
    color: black;
  }
  button.alert-button:nth-child(2){
    color: black;
  }
}

