@media (prefers-color-scheme: dark){
    .home {
        color: #ffffff;
    }

    .img {
      content: url(../../assets/pictures/calendar/calendardarkbanner.jpg);
    }
    .edit{
      border: 1px solid rgb(238, 232, 232);
      color: #ffffff;
      background-color: #3477ce;
    }
    .del{
      color: rgb(255, 255, 255);
      border: 1px solid rgb(238, 232, 232);
      background-color: #c74d07;
    }
}
@media (prefers-color-scheme: light){
    .home {
        color: #fdc103;
    }

    .img {
      content: url(../../assets/pictures/calendar/calendarlightbanner.jpg);
    }
    .del{
      color: #c74d07 !important;
      border: 1px solid #c74d07 !important;
    }
    .edit{
      border: 1px solid #3477ce;
      color: #3477ce;
    }
}

.delAlert{
  --background-color: #fdc103 !important;
}

.md,.ios,.wp {
  page-landing {
    .delAlert {
      --background-color: #F35E5D !important;
      background: #F35E5D  !important;
      color: red !important;
      $alert-md-background-color: #F35E5D;
      $alert-ios-background: #F35E5D;
    }}}
.lst{

    padding-left: 2%;
    padding-right:2%;
    // padding-top: 2%;
    height: 100%;
    width: 100%;
    position:fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;

}

.lstcont{
    height: 100%;

    max-height: auto;
    overflow-y: scroll;
}
.cont{
    margin-top: 1vh !important;
    height: 92%;
    width: 100%;
    overflow-y: scroll;
    border-radius:2%;

}
.cont::-webkit-scrollbar {
    display: none;
}
.lst::-webkit-scrollbar {
    display: none;
}
.lstcont::-webkit-scrollbar {
    display: none;
}
.listbtn{
  --background: rgb(8, 117, 66);
  width: 45vw;
  font-size: 3.5vw;
}
.modalBody{
  padding-top: 25px !important;
  margin-left: 225px !important;
}
.edit {
  border-radius: 78px !important;
  float: left;
  width: 10vw;
  height: 7vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.del {
  margin-left: 4vw;

}
.icon {
  // color:white;
  font-size: 3vw;
}
.detail{

  white-space: initial;
  width: 100%;
  overflow: scroll;
  text-overflow: clip;
  padding-left: 2vw;
  text-align: justify;
  font-size: small;
}

.label{
  white-space: initial !important;
  text-align: start !important;;
}
.date{

  background-color: rgba(120, 177, 158, 0.644);
  border: 2px dashed rgb(94, 77, 3);
  border-radius: 7px;;
  width: 14vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 34px;
  font-size: small;

}
.tool {
  width: 100%;
  height: auto;
  margin-top: 2vh;


  }


:host ::ng-deep{
    .swiper-slide{
      height: 70% !important;
      // margin-top: 10%;
      margin-bottom: 200px;
    }
    .swiper{
      height: 90% !important;
      padding-top: 35px !important;
    }
    .swiper-wrapper{
        height: 25.0vh !important;
        top: 4.0vh !important;
    }
    .monthview-container{
      height: 100% !important;
      overflow-y: show !important;
    }
    .cont{
      height: 100% !important;
    }

    .cont::-webkit-scrollbar{
      display: none !important;
  }
    .monthview-primary-with-event{
      background-color: #2dd92d !important;
      border-radius: 30px;
      font-weight: 600;
      z-index: 10 !important;
    }

    td{
      border-radius: 30px;
      font-size: 4vw;
      vertical-align: middle !important;
    }
    thead tr {
      height: 5vh;
      font-size: 4vw;
    }
    tr, td{
      border: 4px solid transparent !important;
    }
    .monthview-selected{
      background-color: var(--ion-color-primary) !important;
      border-radius: 30px;
    }
    .monthview-current{
      background-color: rgba(255, 73, 105, 1) !important;
      border-radius: 30px !important;
      // border-bottom-color: var(--ion-color-warning) !important;
    }
    thead{
      background-color: rgb(222, 140, 47);
      top: 1vh;
      position: relative;
    }
    tbody{
      background-color: rgba(235, 235, 235, 0.445);
      height: 35vh;
      position: relative;
      top: 1.5vh;

    }
    table{
      background-color: transparent !important;
      margin-top: 4vh;

    }
    .ion-text-center{
      background-color: rgb(5, 87, 19);
      border: 2px dashed rgb(206, 139, 38);
      border-radius: 10px;
      margin: 5px;
      width: 100%;
      height: 7.0vh;
      color: white;
      align-items: center;
      z-index: 10;
      display: flex;
      justify-content: center;
    }
     h2 {
        margin-top: 5px !important;
        font-size: 5vw;
        font-weight: 700;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .monthview-eventdetail-timecolumn{
      display: none;
    }
    .item-lines-default{
      background-color: rgb(224, 228, 228) !important;
      border-radius: 12px !important;
      margin-bottom: 0.5vh !important;
    }
    .no-events-label{
      color: rgb(162, 163, 163) !important;
    }
    .event-detail-container{
      background-color: transparent !important;
      padding-top: 2vh;


    }
    .event-detail{
      font-size: 3vw !important;
      height: 8vh;
      display: contents;
      white-space: inherit !important;

    }


  }
