<ion-header>
  <div class="tool">
    <ion-buttons slot="start">
      <ion-back-button style="visibility: hidden;" (click)="unsbr()" class="home" defaultHref="home" icon="home"></ion-back-button>
      </ion-buttons>
  </div>
</ion-header>

<ion-content class="body">
  <div *ngIf="spinner" style="position:fixed;transform: scale(3); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;">
    <ion-spinner name="bubbles" [paused]="false" color="primary"></ion-spinner>
   </div>

   <div class="lst">
    <div class="lstcont">
      <div class="cont">
        <ion-row> 
          <!-- Move back one screen of the slides -->
          
      
          <ion-col class="ion-text-center">
            <h2>{{ viewTitle }}</h2>
          </ion-col>
      
          <!-- Move forward one screen of the slides -->
         
        </ion-row>
        <calendar #cal
          [eventSource]="eventSource"
          [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate"
          (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)"
          (onCurrentDateChanged)="onCurrentDateChanged($event)"
         
        >
        </calendar>
        
      
      </div>
    </div>
   </div>
   <ion-button (click)="loadDate()">Click</ion-button>

  <ion-fab [routerLink] = "['/dashboard']" vertical="bottom" horizontal="end" slot="fixed" (click)="unsbr()" >
    <ion-fab-button color="success">
      <ion-icon name="home" mode="md"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
