@font-face {
    font-family: 'papa';
    src: url(../../assets/fonts/ncpapa.ttf);
}

@font-face {
    font-family: 'kiddu';
    src: url(../../assets/fonts/nckiddu.ttf);
}
@font-face {
    font-family: 'nallur';
    src: url(../../assets/fonts/ncnallur.ttf);
}


.img {
  content: url(../../assets/pictures/qaseeda/qaseedalightbanner.webp);
}

.card{
  background-color: rgb(6, 105, 31);
}


/*************************************************/


.bg{
  background-size: 100vh auto;
  height: 90vh;
 // background: #b9ebc8c4;
  background-attachment: fixed;
  background-image: url('../../assets/pictures/bg.webp');
  background-position: center;
  //content: url('../../assets/pictures/bg.webp');



}
.bg ::-webkit-scrollbar {
  display: none;
}

ion-grid {
  overflow-y: scroll;
}


.card {
    display: inline;
    width: 44vw;
    margin-left: 3vw;
    margin-right: 3vw;
    float: left;
    position: relative;
    height: 44vw;
    overflow-y: scroll;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;

}
.menu {
    height: 100%;
}

.btn{
    display:block;
}

.tool {
    width: 100%;
    height: auto;
    //margin-top: 2vh;


    }
    ion-col{
      transform: scale(1);
      align-content: center;

      animation: zoomEnter 0.6s ease-out;
    }

    @keyframes zoomEnter {
      0% {
        transform: scale(0.2);
      }
      90% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }
