<html class="addBody">

<div class="tool">
  <img class="img" alt="">
</div>
<ion-content  id="main-content">
<img class="qaseedahome" alt="">
  <div class="glass">
    <div class="bg">
      <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
      opacity: 0.7;">
        <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
       </div>

       <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card [routerLink] = "['/prophet']"  class="card muham">
              <img src="../../assets/pictures/qaseeda/muham.webp" alt="">
           </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card [routerLink] = "['/muhyidden']" class="card muhi">
              <img src="../../assets/pictures/qaseeda/muhiy.webp" alt="">
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card [routerLink] = "['/shahul']"  class="card shahul">
              <img src="../../assets/pictures/qaseeda/shahul.webp" alt="">
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card [routerLink] = "['/ajmeer']" class="card kwaja">
              <img src="../../assets/pictures/qaseeda/kwaja.webp" alt="">
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card [routerLink] = "['/others']" class="card other">
              <img src="../../assets/pictures/qaseeda/other.webp" alt="">
             </ion-card>
          </ion-col>
        </ion-row>
       </ion-grid>
    </div>
  </div>
</ion-content>


</html>
