<html class="addBody">

<div class="tool qtool">
  <img class="img" alt="">
</div>
<ion-content  id="main-content">

    <div class="bg">
      <div class="bg-image"></div>
      <div *ngIf="spinner" style="position:fixed;transform: scale(2); display: flex; width:100%; height:100%; justify-content: space-around; align-items: center; z-index:4;
      opacity: 0.7;">
        <ion-spinner name="lines-small" [paused]="false" color="warning"></ion-spinner>
       </div>

      
       <div class="content-container">
        <div [routerLink] = "['/prophet']"   class="content">
          <p>எம்பெருமான்</p>
          <h4>முஹம்மது நபி</h4>
          <p>ஸல்லல்லாஹு அலைஹிவஸல்லம்</p>
        </div>
        <div [routerLink] = "['/muhyidden']" class="content">
          <p>கௌதுல் அஃழம்</p>
          <h4>முஹ்யித்தீன் அப்துல் காதிர் ஜீலானி</h4>
          <p>கத்தஸல்லாஹுஸ்ஸிர்ரஹுல் அஸீஸ்</p>
        </div>
        <div [routerLink] = "['/shahul']" class="content">
          <p>எஜமான்</p>
          <h4>ஷாஹுல் ஹமீது நாயகம்</h4>
          <p>கத்தஸல்லாஹுஸ்ஸிர்ரஹுல் அஸீஸ்</p>
        </div>
        <div [routerLink] = "['/ajmeer']" class="content">
          <p>ஙரீபே நவாஸ்</p>
          <h4>க்வாஜா முஈனுத்தீன் ஜிஸ்தி</h4>
          <p>கத்தஸல்லாஹுஸ்ஸிர்ரஹுல் அஸீஸ்</p>
        </div>
        <div [routerLink] = "['/others']"  class="content">
          <p>மற்றைய</p>
          <h4>ஹஸீதாக்கள்</h4>
        </div>
       </div>
    </div>

</ion-content>


</html>
